// SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause)
/*
 * IPQ9574 AL02-C1 board device tree source
 *
 * Copyright (c) 2020-2021 The Linux Foundation. All rights reserved.
 */

/dts-v1/;

#include "ipq9574.dtsi"
#ifdef __IPQ_MEM_PROFILE_512_MB__
#include "ipq9574-512MB-memory.dtsi"
#else
#include "ipq9574-default-memory.dtsi"
#endif
#include "ipq9574-cpu.dtsi"

/ {
	#address-cells = <0x2>;
	#size-cells = <0x2>;
	model = "Qualcomm Technologies, Inc. IPQ9574/AP-AL02-C1";
	compatible = "qcom,ipq9574-ap-al02-c1", "qcom,ipq9574-al02", "qcom,ipq9574";
	interrupt-parent = <&intc>;

	aliases {
		serial0 = &blsp1_uart2;
		serial1 = &blsp1_uart4;
		ethernet0 = "/soc/dp1";
		ethernet1 = "/soc/dp2";
		ethernet2 = "/soc/dp3";
		ethernet3 = "/soc/dp4";
		ethernet4 = "/soc/dp5";
		ethernet5 = "/soc/dp6";
	};

	chosen {
		stdout-path = "serial0";
		bootargs-append = " clk_ignore_unused";
	};

	soc {
		pinctrl@1000000 {
			blsp1_uart2_pins: blsp1_uart2_pinmux {
				pins = "gpio34", "gpio35";
				function = "blsp2_uart";
				drive-strength = <8>;
				bias-disable;
			};

			leds_pins: leds_pinmux {
				led0_2g {
					pins = "gpio64";
					function = "gpio";
					drive-strength = <8>;
					bias-pull-down;
				};
			};

			qspi_nand_pins: qspi_nand_pins {
				qspi_clock {
					pins = "gpio5";
					function = "qspi_clk";
					drive-strength = <8>;
					bias-disable;
				};

				qspi_cs {
					pins = "gpio4";
					function = "qspi_cs";
					drive-strength = <8>;
					bias-disable;
				};

				qspi_data {
					pins = "gpio0", "gpio1", "gpio2", "gpio3";
					function = "qspi_data";
					drive-strength = <8>;
					bias-disable;
				};
			};

			spi_0_pins: spi-0-pins {
				pins = "gpio11", "gpio12", "gpio13", "gpio14";
				function = "blsp0_spi";
				drive-strength = <8>;
				bias-disable;
			};

			i2c_3_pins: i2c-3-pins {
				pins = "gpio15", "gpio16";
				function = "blsp3_i2c";
				drive-strength = <8>;
				bias-disable;
			};

			mdio_pins: mdio_pinmux {
				mux_0 {
					pins = "gpio38";
					function = "mdc";
					drive-strength = <8>;
					bias-disable;
				};
				mux_1 {
					pins = "gpio39";
					function = "mdio";
					drive-strength = <8>;
					bias-pull-up;
				};
			};

			button_pins: button_pins {
				wps_button {
					pins = "gpio37";
					function = "gpio";
					drive-strength = <8>;
					bias-pull-up;
				};
			};

			ziggy_pins: ziggy_pins {
				blsp1_uart4_pinmux {
					pins = "gpio50", "gpio51", "gpio52", "gpio53";
					function = "blsp4_uart";
					drive-strength = <8>;
					bias-disable;
				};
				ziggy_reset {
					pins = "gpio19";
					function = "gpio";
					drive-strength = <8>;
					bias-pull-down;
				};
			};

			pta_ziggy: pta_ziggy {
				pta1_0 {
					pins = "gpio56";
					function = "pta1_0";
					drive-strength = <8>;
					bias-disable;
				};
				pta1_1 {
					pins = "gpio54";
					function = "pta1_1";
					drive-strength = <8>;
					bias-disable;
				};
				pta1_2 {
					pins = "gpio55";
					function = "pta1_2";
					drive-strength = <8>;
					bias-disable;
				};
			};
		};

		blsp1_uart2: serial@78b1000 {
			pinctrl-0 = <&blsp1_uart2_pins>;
			pinctrl-names = "default";
			status = "ok";
		};

		blsp1_uart4: serial@78b3000 {
			pinctrl-0 = <&ziggy_pins>;
			pinctrl-names = "default";
			status = "ok";
		};

		gpio_keys {
			compatible = "gpio-keys";
			pinctrl-0 = <&button_pins>;
			pinctrl-names = "default";
			status = "ok";

			button@1 {
				label = "wps";
				linux,code = <KEY_WPS_BUTTON>;
				gpios = <&tlmm 37 GPIO_ACTIVE_LOW>;
				linux,input-type = <1>;
				debounce-interval = <60>;
			};
		};

		dp1 {
			device_type = "network";
			compatible = "qcom,nss-dp";
			qcom,id = <1>;
			reg = <0x3a001000 0x200>;
			qcom,mactype = <0>;
			qcom,link-poll = <1>;
			local-mac-address = [000000000000];
			qcom,phy-mdio-addr = <16>;
			phy-mode = "sgmii";
		};

		dp2 {
			device_type = "network";
			compatible = "qcom,nss-dp";
			qcom,id = <2>;
			reg = <0x3a001200 0x200>;
			qcom,mactype = <0>;
			qcom,link-poll = <1>;
			local-mac-address = [000000000000];
			qcom,phy-mdio-addr = <17>;
			phy-mode = "sgmii";
		};

		dp3 {
			device_type = "network";
			compatible = "qcom,nss-dp";
			qcom,id = <3>;
			reg = <0x3a001400 0x200>;
			qcom,mactype = <0>;
			qcom,link-poll = <1>;
			local-mac-address = [000000000000];
			qcom,phy-mdio-addr = <18>;
			phy-mode = "sgmii";
		};

		dp4 {
			device_type = "network";
			compatible = "qcom,nss-dp";
			qcom,id = <4>;
			reg = <0x3a001600 0x200>;
			qcom,mactype = <0>;
			qcom,link-poll = <1>;
			local-mac-address = [000000000000];
			qcom,phy-mdio-addr = <19>;
			phy-mode = "sgmii";
		};

		dp5 {
			device_type = "network";
			compatible = "qcom,nss-dp";
			qcom,id = <5>;
			reg = <0x3a510000 0x4000>;
			qcom,mactype = <1>;
			qcom,link-poll = <1>;
			local-mac-address = [000000000000];
			qcom,phy-mdio-addr = <8>;
			phy-mode = "sgmii";
		};

		dp6 {
			device_type = "network";
			compatible = "qcom,nss-dp";
			qcom,id = <6>;
			reg = <0x3a514000 0x4000>;
			qcom,mactype = <1>;
			qcom,link-poll = <1>;
			local-mac-address = [000000000000];
			qcom,phy-mdio-addr = <0>;
			phy-mode = "sgmii";
		};

		qpic_bam: dma@7984000 {
			status = "ok";
		};

		qpic_nand: nand@79b0000 {
			status = "ok";
			pinctrl-0 = <&qspi_nand_pins>;
			pinctrl-names = "default";

			nand@0 {
				reg = <0>;
				#address-cells = <1>;
				#size-cells = <1>;

				nand-ecc-strength = <4>;
				nand-ecc-step-size = <512>;
				nand-bus-width = <8>;
			};
		};

		spi_0: spi@78b5000 { /* BLSP1 QUP0 */
			status = "ok";
			pinctrl-0 = <&spi_0_pins>;
			pinctrl-names = "default";
			cs-select = <0>;

			m25p80@0 {
				compatible = "n25q128a11";
				#address-cells = <1>;
				#size-cells = <1>;
				reg = <0>;
				spi-max-frequency = <50000000>;
			};
		};

		eud: qcom,msm-eud {
			status = "ok";
		};

		i2c_3: i2c@78b8000 {
			status = "ok";
			pinctrl-0 = <&i2c_3_pins>;
			pinctrl-names = "default";
		};

		usb: usb3@8A00000 {
			status = "ok";
		};

		qusb_phy_0: qusb@7B000 {
			status = "ok";
		};

		ssphy_0: ssphy@7D000 {
			status = "ok";
		};

		leds {
			compatible = "gpio-leds";
			pinctrl-0 = <&leds_pins>;
			pinctrl-names = "default";
			led@64 {
				label = "led0_2g";
				gpios = <&tlmm 64 GPIO_ACTIVE_HIGH>;
				linux,default-trigger = "led_2g";
				default-state = "off";
			};
		};

		pcie0_x1: pci@28000000 {
			perst-gpio = <&tlmm 23 1>;
			status = "disabled";
			pcie0_rp {
				reg = <0 0 0 0 0>;
			};
		};

		pcie0_phy: phy@84000 {
			status = "disabled";
		};

		pcie1_x1: pci@10000000 {
			perst-gpio = <&tlmm 26 1>;
			status = "disabled";
			pcie1_rp {
				reg = <0 0 0 0 0>;
			};
		};

		pcie1_phy: phy@fc000 {
			status = "disabled";
		};

		pcie2_x2: pci@20000000 {
			perst-gpio = <&tlmm 29 1>;
			status = "ok";
			pcie2_rp {
				reg = <0 0 0 0 0>;

				qcom,mhi@2 {
					reg = <0 0 0 0 0>;
					qrtr_instance_id = <0x20>;
#if defined(__CNSS2__)
					memory-region = <&mhi_region0>;
#endif
					base-addr = <0x4DD00000>;
					m3-dump-addr = <0x50000000>;
					etr-addr = <0x50100000>;
					qcom,caldb-addr = <0x50200000>;
					pageable-addr = <0x50A00000>;
					pageable-size = <0x800000>;
					caldb-size = <0x800000>;
					qcom,board_id = <0xa4>;
					status = "ok";
				};
			};
		};

		pcie2_phy: phy@8c000 {
			status = "ok";
		};

		pcie3_x2: pci@18000000 {
			perst-gpio = <&tlmm 32 1>;
			status = "ok";
			pcie3_rp {
				reg = <0 0 0 0 0>;

				qcom,mhi@3 {
					reg = <0 0 0 0 0>;
					qrtr_instance_id = <0x21>;
#if defined(__CNSS2__)
					memory-region = <&mhi_region1>;
#endif
					base-addr = <0x51200000>;
					m3-dump-addr = <0x53500000>;
					etr-addr = <0x53600000>;
					qcom,caldb-addr = <0x53700000>;
					pageable-addr = <0x53F00000>;
					pageable-size = <0x800000>;
					caldb-size = <0x800000>;
					qcom,board_id = <0xa3>;
					status = "ok";
				};
			};
		};

		pcie3_phy: phy@f4000 {
			status = "ok";
		};

		mdio@90000 {
			status = "ok";
			pinctrl-0 = <&mdio_pins>;
			pinctrl-names = "default";
			/*gpio60 for malibu reset, gpio36 for both aqr reset reserved */
			phy-reset-gpio = <&tlmm 60 0>;
			phy0: ethernet-phy@0 {
				reg = <16>;
			};
			phy1: ethernet-phy@1 {
				reg = <17>;
			};
			phy2: ethernet-phy@2 {
				reg = <18>;
			};
			phy3: ethernet-phy@3 {
				reg = <19>;
			};
			phy4: ethernet-phy@4 {
				compatible ="ethernet-phy-ieee802.3-c45";
				reg = <8>;
			};
			phy5: ethernet-phy@5 {
				compatible ="ethernet-phy-ieee802.3-c45";
				reg = <0>;
			};
		};

		ess-instance {
			num_devices = <0x1>;
			ess-switch@3a000000 {
				switch_cpu_bmp = <0x1>;  /* cpu port bitmap */
				switch_lan_bmp = <0x3e>; /* lan port bitmap */
				switch_wan_bmp = <0x40>; /* wan port bitmap */
				switch_mac_mode = <0x0>; /* mac mode for uniphy instance0*/
				switch_mac_mode1 = <0xd>; /* mac mode for uniphy instance1*/
				switch_mac_mode2 = <0xd>; /* mac mode for uniphy instance2*/
				bm_tick_mode = <0>; /* bm tick mode */
				tm_tick_mode = <0>; /* tm tick mode */

				qcom,port_phyinfo {
					port@0 {
						port_id = <1>;
						phy_address = <16>;
					};
					port@1 {
						port_id = <2>;
						phy_address = <17>;
					};
					port@2 {
						port_id = <3>;
						phy_address = <18>;
					};
					port@3 {
						port_id = <4>;
						phy_address = <19>;
					};
					port@4 {
						port_id = <5>;
						phy_address = <8>;
						ethernet-phy-ieee802.3-c45;
					};
					port@5 {
						port_id = <6>;
						phy_address = <0>;
						ethernet-phy-ieee802.3-c45;
					};
				};

			};
		};

		/* EDMA host driver configuration for the board */
		edma@3ab00000 {
			qcom,txdesc-ring-start = <8>;		/* Tx desc ring start ID */
			qcom,txdesc-rings = <24>;		/* Total number of Tx desc rings to be provisioned */
			qcom,txcmpl-ring-start = <8>;		/* Tx complete ring start ID */
			qcom,txcmpl-rings = <24>;		/* Total number of Tx complete rings to be provisioned */
			qcom,rxfill-ring-start = <4>;		/* Rx fill ring start ID */
			qcom,rxfill-rings = <4>;		/* Total number of Rx fill rings to be provisioned */
			qcom,rxdesc-ring-start = <20>;		/* Rx desc ring start ID */
			qcom,rxdesc-rings = <4>;		/* Total number of Rx desc rings to be provisioned */
			qcom,tx-map-priority-level = <1>;	/* Tx priority level per port */
			qcom,rx-map-priority-level = <1>;	/* Rx priority level per core */
			qcom,txdesc-map = <8 9 10 11>,		/* Port0 per-core Tx ring map */
					<12 13 14 15>,		/* Port1 per-core Tx ring map */
					<16 17 18 19>,		/* Port2 per-core Tx ring map */
					<20 21 22 23>,		/* Port3 per-core Tx ring map */
					<24 25 26 27>,		/* Port4 per-core Tx ring map */
					<28 29 30 31>;		/* Port5 per-core Tx ring map */
			qcom,rxfill-map = <4 5 6 7>;		/* Per-core Rx fill ring map */
			qcom,rxdesc-map = <20 21 22 23>;	/* Per-core Rx desc ring map */
			interrupts = <0 371 4>,			/* Tx complete ring id #8 IRQ info */
				   <0 372 4>,			/* Tx complete ring id #9 IRQ info */
				   <0 373 4>,			/* Tx complete ring id #10 IRQ info */
				   <0 374 4>,			/* Tx complete ring id #11 IRQ info */
				   <0 375 4>,			/* Tx complete ring id #12 IRQ info */
				   <0 376 4>,			/* Tx complete ring id #13 IRQ info */
				   <0 377 4>,			/* Tx complete ring id #14 IRQ info */
				   <0 378 4>,			/* Tx complete ring id #15 IRQ info */
				   <0 379 4>,			/* Tx complete ring id #16 IRQ info */
				   <0 380 4>,			/* Tx complete ring id #17 IRQ info */
				   <0 381 4>,			/* Tx complete ring id #18 IRQ info */
				   <0 382 4>,			/* Tx complete ring id #19 IRQ info */
				   <0 383 4>,			/* Tx complete ring id #20 IRQ info */
				   <0 384 4>,			/* Tx complete ring id #21 IRQ info */
				   <0 509 4>,			/* Tx complete ring id #22 IRQ info */
				   <0 508 4>,			/* Tx complete ring id #23 IRQ info */
				   <0 507 4>,			/* Tx complete ring id #24 IRQ info */
				   <0 506 4>,			/* Tx complete ring id #25 IRQ info */
				   <0 505 4>,			/* Tx complete ring id #26 IRQ info */
				   <0 504 4>,			/* Tx complete ring id #27 IRQ info */
				   <0 503 4>,			/* Tx complete ring id #28 IRQ info */
				   <0 502 4>,			/* Tx complete ring id #29 IRQ info */
				   <0 501 4>,			/* Tx complete ring id #30 IRQ info */
				   <0 500 4>,			/* Tx complete ring id #31 IRQ info */
				   <0 351 4>,			/* Rx desc ring id #20 IRQ info */
				   <0 352 4>,			/* Rx desc ring id #21 IRQ info */
				   <0 353 4>,			/* Rx desc ring id #22 IRQ info */
				   <0 354 4>,			/* Rx desc ring id #23 IRQ info */
				   <0 261 4>;			/* Misc error IRQ info */
		};

	};
};

&wifi0 {
       status = "ok";
};

&wifi1 {
#if !defined(__IPQ_MEM_PROFILE_256_MB__)
#ifdef __IPQ_MEM_PROFILE_512_MB__
	/* QCN9000 tgt-mem-mode=1 layout - 38MB
	 * +=========+==============+=========+
	 * |  Region | Start Offset |   Size  |
	 * +---------+--------------+---------+
	 * | HREMOTE |  0x4DD00000  |   20MB  |
	 * +---------+--------------+---------+
	 * | M3 Dump |  0x4F100000  |   1MB   |
	 * +---------+--------------+---------+
	 * |   ETR   |  0x4F200000  |   1MB   |
	 * +---------+--------------+---------+
	 * |  Caldb  |  0x4F300000  |   8MB   |
	 * +---------+--------------+---------+
	 * | Pageable|  0x4FB00000  |   8MB   |
	 * +==================================+
	 */
	base-addr = <0x4DD00000>;
	m3-dump-addr = <0x4F100000>;
	etr-addr = <0x4F200000>;
	caldb-addr = <0x4F300000>;
	pageable-addr = <0x4FB00000>;
	hremote-size = <0x1400000>;
	tgt-mem-mode = <0x1>;
#else
	/* QCN9000 tgt-mem-mode=0 layout - 53MB
	 * +=========+==============+=========+
	 * |  Region | Start Offset |   Size  |
	 * +---------+--------------+---------+
	 * | HREMOTE |  0x4DD00000  |   35MB  |
	 * +---------+--------------+---------+
	 * | M3 Dump |  0x50000000  |   1MB   |
	 * +---------+--------------+---------+
	 * |   ETR   |  0x50100000  |   1MB   |
	 * +---------+--------------+---------+
	 * |  Caldb  |  0x50200000  |   8MB   |
	 * +---------+--------------+---------+
	 * | Pageable|  0x50A00000  |   8MB   |
	 * +==================================+
	 */
	base-addr = <0x4DD00000>;
	m3-dump-addr = <0x50000000>;
	etr-addr = <0x50100000>;
	caldb-addr = <0x50200000>;
	pageable-addr = <0x50A00000>;
	hremote-size = <0x2300000>;
	tgt-mem-mode = <0x0>;
#endif
	hremote_node = <&qcn9000_pcie0>;
	pageable-size = <0x800000>;
	caldb-size = <0x800000>;
	board_id = <0xa4>;
	status = "ok";
#endif
};

&wifi2 {
#if !defined(__IPQ_MEM_PROFILE_256_MB__)
#ifdef __IPQ_MEM_PROFILE_512_MB__
	/* QCN9000 tgt-mem-mode=1 layout - 38MB
	 * +=========+==============+=========+
	 * |  Region | Start Offset |   Size  |
	 * +---------+--------------+---------+
	 * | HREMOTE |  0x50300000  |   20MB  |
	 * +---------+--------------+---------+
	 * | M3 Dump |  0x51700000  |   1MB   |
	 * +---------+--------------+---------+
	 * |   ETR   |  0x51800000  |   1MB   |
	 * +---------+--------------+---------+
	 * |  Caldb  |  0x51900000  |   8MB   |
	 * +---------+--------------+---------+
	 * | Pageable|  0x52100000  |   8MB   |
	 * +==================================+
	 */
	base-addr = <0x50300000>;
	m3-dump-addr = <0x51700000>;
	etr-addr = <0x51800000>;
	caldb-addr = <0x51900000>;
	pageable-addr = <0x52100000>;
	hremote-size = <0x1400000>;
	tgt-mem-mode = <0x1>;
#else
	/* QCN9000 tgt-mem-mode=0 layout - 53MB
	 * +=========+==============+=========+
	 * |  Region | Start Offset |   Size  |
	 * +---------+--------------+---------+
	 * | HREMOTE |  0x51200000  |   35MB  |
	 * +---------+--------------+---------+
	 * | M3 Dump |  0x53500000  |   1MB   |
	 * +---------+--------------+---------+
	 * |   ETR   |  0x53600000  |   1MB   |
	 * +---------+--------------+---------+
	 * |  Caldb  |  0x53700000  |   8MB   |
	 * +---------+--------------+---------+
	 * | Pageable|  0x53F00000  |   8MB   |
	 * +==================================+
	 */
	base-addr = <0x51200000>;
	m3-dump-addr = <0x53500000>;
	etr-addr = <0x53600000>;
	caldb-addr = <0x53700000>;
	pageable-addr = <0x53F00000>;
	hremote-size = <0x2300000>;
	tgt-mem-mode = <0x0>;
#endif
	hremote_node = <&qcn9000_pcie1>;
	pageable-size = <0x800000>;
	caldb-size = <0x800000>;
	board_id = <0xa3>;
	status = "ok";
#endif
};
