CONFIG_TARGET_ipq=y
CONFIG_TARGET_ipq_ipq50xx=y
CONFIG_TARGET_ipq_ipq50xx_QSDK_8M=y
CONFIG_TARGET_BOARD="ipq"
CONFIG_DEVEL=y
# CONFIG_BUSYBOX_CONFIG_BUNZIP2 is not set
# CONFIG_BUSYBOX_CONFIG_CHGRP is not set
# CONFIG_BUSYBOX_CONFIG_CHROOT is not set
# CONFIG_BUSYBOX_CONFIG_CLEAR is not set
# CONFIG_BUSYBOX_CONFIG_CROND is not set
# CONFIG_BUSYBOX_CONFIG_CRONTAB is not set
CONFIG_BUSYBOX_CONFIG_CTTYHACK=y
# CONFIG_BUSYBOX_CONFIG_DU is not set
# CONFIG_BUSYBOX_CONFIG_ENV is not set
# CONFIG_BUSYBOX_CONFIG_FEATURE_HAVE_RPC is not set
CONFIG_BUSYBOX_CONFIG_FEATURE_HEXDUMP_REVERSE=y
# CONFIG_BUSYBOX_CONFIG_FEATURE_MOUNT_LOOP is not set
CONFIG_BUSYBOX_CONFIG_FEATURE_PIDOF_OMIT=y
CONFIG_BUSYBOX_CONFIG_FEATURE_PIDOF_SINGLE=y
# CONFIG_BUSYBOX_CONFIG_FEATURE_SHADOWPASSWDS is not set
CONFIG_BUSYBOX_CONFIG_FEATURE_TAR_AUTODETECT=y
CONFIG_BUSYBOX_CONFIG_FEATURE_TAR_LONG_OPTIONS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_TAR_OLDSUN_COMPATIBILITY=y
# CONFIG_BUSYBOX_CONFIG_FEATURE_UDHCP_RFC3397 is not set
# CONFIG_BUSYBOX_CONFIG_FTPD is not set
# CONFIG_BUSYBOX_CONFIG_FTPGET is not set
# CONFIG_BUSYBOX_CONFIG_FTPPUT is not set
# CONFIG_BUSYBOX_CONFIG_HOSTID is not set
# CONFIG_BUSYBOX_CONFIG_INETD is not set
CONFIG_BUSYBOX_CONFIG_INOTIFYD=y
# CONFIG_BUSYBOX_CONFIG_IPCS is not set
# CONFIG_BUSYBOX_CONFIG_MD5SUM is not set
# CONFIG_BUSYBOX_CONFIG_MKFIFO is not set
# CONFIG_BUSYBOX_CONFIG_MKSWAP is not set
# CONFIG_BUSYBOX_CONFIG_NETMSG is not set
# CONFIG_BUSYBOX_CONFIG_NETSTAT is not set
# CONFIG_BUSYBOX_CONFIG_NICE is not set
# CONFIG_BUSYBOX_CONFIG_NTPD is not set
# CONFIG_BUSYBOX_CONFIG_PASSWD is not set
# CONFIG_BUSYBOX_CONFIG_PGREP is not set
# CONFIG_BUSYBOX_CONFIG_PIVOT_ROOT is not set
# CONFIG_BUSYBOX_CONFIG_STRINGS is not set
# CONFIG_BUSYBOX_CONFIG_SWITCH_ROOT is not set
# CONFIG_BUSYBOX_CONFIG_TASKSET is not set
# CONFIG_BUSYBOX_CONFIG_TEE is not set
# CONFIG_BUSYBOX_CONFIG_TELNET is not set
# CONFIG_BUSYBOX_CONFIG_TEST is not set
# CONFIG_BUSYBOX_CONFIG_TFTPD is not set
# CONFIG_BUSYBOX_CONFIG_TIME is not set
# CONFIG_BUSYBOX_CONFIG_TRACEROUTE is not set
# CONFIG_BUSYBOX_CONFIG_UNIQ is not set
CONFIG_BUSYBOX_CONFIG_WATCHDOG=y
# CONFIG_BUSYBOX_CONFIG_WGET is not set
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_COLLECT_KERNEL_DEBUG=y
# CONFIG_DISPLAY_SUPPORT is not set
CONFIG_EXTERNAL_LINUX_CONFIG_NAME="config-lowmem"
# CONFIG_GCC_USE_VERSION_4_8_LINARO is not set
CONFIG_GCC_USE_VERSION_5=y
CONFIG_GCC_VERSION="5.2.0"
CONFIG_GCC_VERSION_5=y
CONFIG_GIT_MIRROR="https://source.codeaurora.org/quic/qsdk/"
CONFIG_KERNEL_ALLOC_SKB_PAGE_FRAG_DISABLE=y
CONFIG_KERNEL_ARCH_IPQ256M=y
# CONFIG_KERNEL_CC_STACKPROTECTOR_NONE is not set
CONFIG_KERNEL_CC_STACKPROTECTOR_REGULAR=y
# CONFIG_KERNEL_CNSS2 is not set
# CONFIG_KERNEL_ELF_CORE is not set
CONFIG_KERNEL_FANOTIFY=y
CONFIG_KERNEL_IPQ_MEM_PROFILE=256
# CONFIG_KERNEL_MAGIC_SYSRQ is not set
# CONFIG_KERNEL_NET_IPGRE_BROADCAST is not set
# CONFIG_KERNEL_PRINTK_TIME is not set
CONFIG_KERNEL_SKB_FIXED_SIZE_2K=y
# CONFIG_KERNEL_SKB_RECYCLER is not set
# CONFIG_KERNEL_SKB_RECYCLER_MULTI_CPU is not set
# CONFIG_KERNEL_SWAP is not set
# CONFIG_LBD_SUPPORT_SONLIB is not set
CONFIG_LIBC="musl"
CONFIG_LIBC_USE_MUSL=y
# CONFIG_LIBC_USE_UCLIBC is not set
CONFIG_LIBC_VERSION="1.1.16"
CONFIG_LOCALMIRROR="https://www.codeaurora.org/mirrored_source/quic/qsdk/"
CONFIG_LOWMEM_FLASH=y
# CONFIG_LXC_BUSYBOX_OPTIONS is not set
# CONFIG_LXC_KERNEL_OPTIONS is not set
CONFIG_MUSL_VERSION="1.1.16"
CONFIG_PACKAGE_qca-ssdk-shell=m
CONFIG_PACKAGE_sysstat=m
# CONFIG_PKG_CC_STACKPROTECTOR_NONE is not set
CONFIG_PKG_CC_STACKPROTECTOR_REGULAR=y
CONFIG_PKG_FORTIFY_SOURCE_2=y
# CONFIG_PKG_FORTIFY_SOURCE_NONE is not set
CONFIG_PKG_RELRO_FULL=y
# CONFIG_shadow-all is not set
CONFIG_TARGET_INITRAMFS_COMPRESSION_LZMA=y
CONFIG_TARGET_ROOTFS_INITRAMFS=y
# CONFIG_TARGET_ROOTFS_TARGZ is not set
# CONFIG_TARGET_ROOTFS_UBIFS is not set
CONFIG_TARGET_SQUASHFS_BLOCK_SIZE=64
CONFIG_TARGET_SUFFIX="muslgnueabi"
CONFIG_TOOLCHAINOPTS=y
CONFIG_USE_MUSL=y
CONFIG_WPA_MSG_MIN_PRIORITY=0
