CONFIG_TARGET_ipq807x=y
CONFIG_TARGET_ipq807x_generic=y
CONFIG_TARGET_ipq807x_generic_QSDK_Premium=y
CONFIG_TARGET_BOARD="ipq807x"
CONFIG_DEVEL=y
CONFIG_CNSSD_SUPPORTS_BREAKPAD=y
CONFIG_COLLECT_KERNEL_DEBUG=y
CONFIG_FEATURE_QCA_IOT_IPQ50XX_SUPPORT=y
CONFIG_GIT_MIRROR="https://source.codeaurora.org/quic/qsdk/"
CONFIG_HOSTAPD_SUPPORTS_BREAKPAD=y
CONFIG_IB_STANDALONE=y
CONFIG_IB=y
CONFIG_KERNEL_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_KERNEL_CC_STACKPROTECTOR_STRONG=y
CONFIG_KERNEL_CFS_BANDWIDTH=y
CONFIG_KERNEL_CGROUP_CPUACCT=y
CONFIG_KERNEL_CGROUP_SCHED=y
CONFIG_KERNEL_CPUSETS=y
# CONFIG_KERNEL_CRASH_DUMP is not set
# CONFIG_KERNEL_DEBUG_INFO_REDUCED is not set
CONFIG_KERNEL_DEVMEM=y
CONFIG_KERNEL_DYNAMIC_DEBUG=y
CONFIG_KERNEL_FAIR_GROUP_SCHED=y
CONFIG_KERNEL_MEMCG_KMEM=y
CONFIG_KERNEL_MEMCG=y
CONFIG_KERNEL_NAMESPACES=y
CONFIG_KERNEL_PERF_EVENTS=y
CONFIG_KERNEL_RESOURCE_COUNTERS=y
CONFIG_KERNEL_RT_GROUP_SCHED=y
# CONFIG_KERNEL_SWAP is not set
CONFIG_KERNEL_USER_NS=y
# CONFIG_LIBC_USE_UCLIBC is not set
CONFIG_LOCALMIRROR="https://www.codeaurora.org/mirrored_source/quic/qsdk/"
CONFIG_LXC_BUSYBOX_OPTIONS=y
CONFIG_LXC_KERNEL_OPTIONS=y
CONFIG_LXC_NETWORKING=y
CONFIG_OPENSSL_ENGINE_BUILTIN_DEVCRYPTO=y
CONFIG_OPENSSL_ENGINE_BUILTIN=y
CONFIG_PACKAGE_accel_pptpd=m
CONFIG_PACKAGE_bash=m
CONFIG_PACKAGE_bluetopia=m
CONFIG_PACKAGE_btdaemon=m
CONFIG_PACKAGE_btdiag=m
CONFIG_PACKAGE_clk-debug=m
CONFIG_PACKAGE_coremark=m
CONFIG_PACKAGE_coreutils=m
CONFIG_PACKAGE_coreutils-readlink=m
CONFIG_PACKAGE_coreutils-stty=m
CONFIG_PACKAGE_cryptsetup=m
CONFIG_PACKAGE_curl=m
CONFIG_PACKAGE_data-exec-protection-test=m
CONFIG_PACKAGE_dmesg=m
CONFIG_PACKAGE_dosfstools=m
CONFIG_PACKAGE_dsi_netctrl_test=m
CONFIG_PACKAGE_easycwmp=m
CONFIG_PACKAGE_ebtables=m
CONFIG_PACKAGE_fdisk=m
CONFIG_PACKAGE_gdb=m
CONFIG_PACKAGE_getopt=m
CONFIG_PACKAGE_gpio-debug=m
CONFIG_PACKAGE_gpiod-tools=m
CONFIG_PACKAGE_i2c-rw-utils=m
CONFIG_PACKAGE_iozone=m
CONFIG_PACKAGE_iperf3=m
CONFIG_PACKAGE_ip-passthru=m
CONFIG_PACKAGE_ipqcm=m
CONFIG_PACKAGE_iputils-ping6=m
CONFIG_PACKAGE_iputils-ping=m
CONFIG_PACKAGE_isc-dhcp-client-ipv6=m
# CONFIG_PACKAGE_iwinfo is not set
CONFIG_PACKAGE_kmod-block2mtd=m
CONFIG_PACKAGE_kmod-coresight-stream-sock=m
CONFIG_PACKAGE_kmod-crypto-qce=m
CONFIG_PACKAGE_kmod-crypto-test=m
CONFIG_PACKAGE_kmod-dm=m
CONFIG_PACKAGE_kmod-e1000e=m
CONFIG_PACKAGE_kmod-ebtables-ipv4=m
CONFIG_PACKAGE_kmod-ebtables-ipv6=m
CONFIG_PACKAGE_kmod-ebtables=m
CONFIG_PACKAGE_kmod-fw-auth-test=m
CONFIG_PACKAGE_kmod-gpio-pcf857x=m
CONFIG_PACKAGE_kmod-hwmon-core=m
CONFIG_PACKAGE_kmod-hwmon-lm75=m
CONFIG_PACKAGE_kmod-lkdtm=m
CONFIG_PACKAGE_kmod-mhitest_mod=m
CONFIG_PACKAGE_kmod-mtdtests=m
CONFIG_PACKAGE_kmod-qca-psdk=m
CONFIG_PACKAGE_kmod-qca-wigig-driver=m
CONFIG_PACKAGE_kmod-qmi_sample_client=m
CONFIG_PACKAGE_kmod-qmi-test-app=m
CONFIG_PACKAGE_kmod-qseecom=m
CONFIG_PACKAGE_kmod-rmnet-core=m
CONFIG_PACKAGE_kmod-rmnet-ctl=m
CONFIG_PACKAGE_kmod-security-assurance-test=m
CONFIG_PACKAGE_kmod-sierra-driver=m
CONFIG_PACKAGE_kmod-testssr=m
CONFIG_PACKAGE_kmod-test-udelay=m
CONFIG_PACKAGE_kmod-tun=m
CONFIG_PACKAGE_kmod-usb-chipidea-qti=m
CONFIG_PACKAGE_kmod-usb-phy-ci-qti=m
CONFIG_PACKAGE_kmod-usb-printer=m
CONFIG_PACKAGE_kmod-veth=m
CONFIG_PACKAGE_libdevmapper=m
CONFIG_PACKAGE_libtirpc=m
CONFIG_PACKAGE_linuxptp=m
CONFIG_PACKAGE_lldpd=y
CONFIG_PACKAGE_lmbench-bw-file-rd=m
CONFIG_PACKAGE_lmbench-bw-mem=m
CONFIG_PACKAGE_lmbench-bw-mmap-rd=m
CONFIG_PACKAGE_lmbench-cache=m
CONFIG_PACKAGE_lmbench-lat-cmd=m
CONFIG_PACKAGE_lmbench-lat-fifo=m
CONFIG_PACKAGE_lmbench-lat-fs=m
CONFIG_PACKAGE_lmbench-lat-mem-rd=m
CONFIG_PACKAGE_lmbench-lat-mmap=m
CONFIG_PACKAGE_lmbench-lmdd=m
CONFIG_PACKAGE_lmbench=m
CONFIG_PACKAGE_lmbench-memsize=m
CONFIG_PACKAGE_lmbench-mhz=m
CONFIG_PACKAGE_lrzsz=m
CONFIG_PACKAGE_ltp=m
CONFIG_PACKAGE_luafilesystem=m
CONFIG_PACKAGE_luci-app-atf=m
CONFIG_PACKAGE_luci-app-lte=m
CONFIG_PACKAGE_luci-app-lxc=m
CONFIG_PACKAGE_luci-app-samba=m
CONFIG_PACKAGE_lvm2=m
CONFIG_PACKAGE_lxc-attach=m
CONFIG_PACKAGE_lxc-auto=m
CONFIG_PACKAGE_lxc-cgroup=m
CONFIG_PACKAGE_lxc-checkconfig=m
CONFIG_PACKAGE_lxc-console=m
CONFIG_PACKAGE_lxc-create=m
CONFIG_PACKAGE_lxc-destroy=m
CONFIG_PACKAGE_lxc-info=m
CONFIG_PACKAGE_lxc-lua=m
CONFIG_PACKAGE_lxc-monitord=m
CONFIG_PACKAGE_lxc-start=m
CONFIG_PACKAGE_lxc-stop=m
CONFIG_PACKAGE_lxc=y
CONFIG_PACKAGE_mdadm=m
CONFIG_PACKAGE_mdump=m
CONFIG_PACKAGE_memfeast=m
CONFIG_PACKAGE_memtester=m
CONFIG_PACKAGE_minicom=m
CONFIG_PACKAGE_modem_monitor=m
CONFIG_PACKAGE_myftm=m
CONFIG_PACKAGE_nand-utils=m
CONFIG_PACKAGE_NFT_WITH_JSON=y
CONFIG_PACKAGE_ntfsprogs_ntfs-3g=m
CONFIG_PACKAGE_openssh-sftp-server=m
CONFIG_PACKAGE_openvswitch=m
CONFIG_PACKAGE_p910nd=m
CONFIG_PACKAGE_pciutils=m
CONFIG_PACKAGE_perf=m
CONFIG_PACKAGE_procps=m
CONFIG_PACKAGE_QCA_ATH_DEBUG=y
CONFIG_PACKAGE_qca-fst-manager=m
CONFIG_PACKAGE_qca-hostap-mlo=m
CONFIG_PACKAGE_qca-hyd-map=m
CONFIG_PACKAGE_qca-IOT=m
CONFIG_PACKAGE_qca-plc-fw=m
CONFIG_PACKAGE_qca-plc-serv=m
CONFIG_PACKAGE_qca-psdk-cli=m
CONFIG_PACKAGE_qca-qrtr=m
CONFIG_PACKAGE_qca-wigig-debug-tools=m
CONFIG_PACKAGE_qca-wigig-tools=m
CONFIG_PACKAGE_qca-wigig-wfa-sigma=m
CONFIG_PACKAGE_qca-wpa-supplicant-mlo=m
CONFIG_PACKAGE_qnicornd=m
CONFIG_PACKAGE_qnicorn_tests=m
CONFIG_PACKAGE_remserial=m
CONFIG_PACKAGE_shadow-common=m
CONFIG_PACKAGE_shadow-useradd=m
CONFIG_PACKAGE_shadow-userdel=m
CONFIG_PACKAGE_shadow-utils=m
CONFIG_PACKAGE_sierra-cm=m
CONFIG_PACKAGE_sigma-dut-open=m
CONFIG_PACKAGE_strace=m
CONFIG_PACKAGE_stress=m
CONFIG_PACKAGE_testAppUsingBreakpad=m
CONFIG_PACKAGE_thread=m
CONFIG_PACKAGE_udev_scripts=m
CONFIG_PACKAGE_usbutils=m
CONFIG_PACKAGE_uuidgen=m
CONFIG_PACKAGE_valgrind=m
CONFIG_PACKAGE_wigig-firmware=m
CONFIG_PACKAGE_zigbee_efr32=m
# CONFIG_PKG_CC_STACKPROTECTOR_NONE is not set
# CONFIG_PKG_CC_STACKPROTECTOR_REGULAR is not set
CONFIG_PKG_CC_STACKPROTECTOR_STRONG=y
CONFIG_PKG_FORTIFY_SOURCE_2=y
# CONFIG_PKG_FORTIFY_SOURCE_NONE is not set
CONFIG_PKG_RELRO_FULL=y
# CONFIG_shadow-all is not set
CONFIG_TARGET_INITRAMFS_COMPRESSION_LZMA=y
CONFIG_TARGET_ROOTFS_INITRAMFS=y
# CONFIG_TARGET_ROOTFS_TARGZ is not set
CONFIG_TARGET_ROOTFS_UBIFS=y
CONFIG_TOOLCHAINOPTS=y
CONFIG_WIFI_LOG_UTILS=y
# CONFIG_WIFI_TARGET_WIFI_2_0 is not set
CONFIG_WPA_MSG_MIN_PRIORITY=0
