CONFIG_TARGET_ipq807x=y
CONFIG_TARGET_ipq807x_generic=y
CONFIG_TARGET_ipq807x_generic_QSDK_QBuilder=y
CONFIG_TARGET_BOARD="ipq807x"
CONFIG_DEVEL=y
# CONFIG_BUSYBOX_CONFIG_BRCTL is not set
# CONFIG_BUSYBOX_CONFIG_FEATURE_SEAMLESS_XZ is not set
# CONFIG_BUSYBOX_CONFIG_FEATURE_TAR_LONG_OPTIONS is not set
# CONFIG_BUSYBOX_CONFIG_GETOPT is not set
# CONFIG_BUSYBOX_CONFIG_UNXZ is not set
# CONFIG_BUSYBOX_CONFIG_XZ is not set
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_COLLECT_KERNEL_DEBUG=y
CONFIG_FEATURE_QCA_IOT_IPQ50XX_SUPPORT=y
CONFIG_GET_LIBAV_COMMON_AV_SUPPORT=y
CONFIG_GIT_MIRROR="https://source.codeaurora.org/quic/qsdk/"
CONFIG_GNUTLS_ALPN=y
CONFIG_GNUTLS_ANON=y
CONFIG_GNUTLS_DTLS_SRTP=y
CONFIG_GNUTLS_HEARTBEAT=y
CONFIG_GNUTLS_OCSP=y
CONFIG_GNUTLS_PSK=y
CONFIG_IB_STANDALONE=y
CONFIG_IB=y
CONFIG_KERNEL_BLK_CGROUP=y
CONFIG_KERNEL_CC_OPTIMIZE_FOR_SIZE=y
# CONFIG_KERNEL_CC_STACKPROTECTOR_NONE is not set
CONFIG_KERNEL_CC_STACKPROTECTOR_STRONG=y
CONFIG_KERNEL_CFS_BANDWIDTH=y
CONFIG_KERNEL_CGROUP_CPUACCT=y
CONFIG_KERNEL_CGROUP_DEVICE=y
CONFIG_KERNEL_CGROUP_FREEZER=y
CONFIG_KERNEL_CGROUP_PIDS=y
CONFIG_KERNEL_CGROUP_SCHED=y
CONFIG_KERNEL_CGROUPS=y
CONFIG_KERNEL_CPUSETS=y
# CONFIG_KERNEL_CRASH_DUMP is not set
# CONFIG_KERNEL_DEBUG_INFO_REDUCED is not set
CONFIG_KERNEL_DEVPTS_MULTIPLE_INSTANCES=y
CONFIG_KERNEL_DIRECT_IO=y
CONFIG_KERNEL_DYNAMIC_DEBUG=y
CONFIG_KERNEL_FAIR_GROUP_SCHED=y
CONFIG_KERNEL_FREEZER=y
CONFIG_KERNEL_IPC_NS=y
CONFIG_KERNEL_LXC_MISC=y
CONFIG_KERNEL_MEMCG_KMEM=y
CONFIG_KERNEL_MEMCG=y
CONFIG_KERNEL_MM_OWNER=y
CONFIG_KERNEL_NAMESPACES=y
CONFIG_KERNEL_NET_CLS_CGROUP=y
CONFIG_KERNEL_NET_NS=y
CONFIG_KERNEL_NETPRIO_CGROUP=y
CONFIG_KERNEL_PERF_EVENTS=y
CONFIG_KERNEL_PID_NS=y
CONFIG_KERNEL_POSIX_MQUEUE=y
CONFIG_KERNEL_RESOURCE_COUNTERS=y
CONFIG_KERNEL_RT_GROUP_SCHED=y
# CONFIG_KERNEL_SWAP is not set
CONFIG_KERNEL_USER_NS=y
CONFIG_KERNEL_UTS_NS=y
CONFIG_LIBCURL_COOKIES=y
CONFIG_LIBCURL_FILE=y
CONFIG_LIBCURL_FTP=y
CONFIG_LIBCURL_HTTP=y
CONFIG_LIBCURL_MBEDTLS=y
CONFIG_LIBCURL_NGHTTP2=y
CONFIG_LIBCURL_NO_SMB="!"
CONFIG_LIBCURL_PROXY=y
# CONFIG_LIBC_USE_UCLIBC is not set
CONFIG_LLDPD_WITH_CDP=y
CONFIG_LLDPD_WITH_CUSTOM=y
CONFIG_LLDPD_WITH_DOT1=y
CONFIG_LLDPD_WITH_DOT3=y
CONFIG_LLDPD_WITH_EDP=y
CONFIG_LLDPD_WITH_FDP=y
CONFIG_LLDPD_WITH_LLDPMED=y
CONFIG_LLDPD_WITH_PRIVSEP=y
CONFIG_LLDPD_WITH_SONMP=y
CONFIG_LOCALMIRROR="https://www.codeaurora.org/mirrored_source/quic/qsdk/"
CONFIG_LXC_BUSYBOX_OPTIONS=y
CONFIG_LXC_KERNEL_OPTIONS=y
CONFIG_LXC_NETWORKING=y
CONFIG_OPENSSL_ENGINE_BUILTIN_DEVCRYPTO=y
CONFIG_OPENSSL_ENGINE_BUILTIN=y
CONFIG_OPENSSL_ENGINE_CRYPTO=y
CONFIG_OPENVPN_openssl_ENABLE_DCA=y
CONFIG_OPENVPN_openssl_ENABLE_DEF_AUTH=y
CONFIG_OPENVPN_openssl_ENABLE_FRAGMENT=y
CONFIG_OPENVPN_openssl_ENABLE_HTTP=y
CONFIG_OPENVPN_openssl_ENABLE_LZO=y
CONFIG_OPENVPN_openssl_ENABLE_MULTIHOME=y
CONFIG_OPENVPN_openssl_ENABLE_PF=y
CONFIG_OPENVPN_openssl_ENABLE_PORT_SHARE=y
CONFIG_OPENVPN_openssl_ENABLE_SERVER=y
CONFIG_OPENVPN_openssl_ENABLE_SMALL=y
CONFIG_OPENVPN_openssl_ENABLE_SOCKS=y
CONFIG_PACKAGE_464xlat=m
CONFIG_PACKAGE_6rd=m
CONFIG_PACKAGE_accel_pptpd=m
CONFIG_PACKAGE_acdbdata=m
CONFIG_PACKAGE_acdb=m
CONFIG_PACKAGE_alsa-lib=m
CONFIG_PACKAGE_alsa=m
CONFIG_PACKAGE_alsa-utils=m
CONFIG_PACKAGE_aq-fw-download=m
CONFIG_PACKAGE_ar=m
CONFIG_PACKAGE_arptables=m
CONFIG_PACKAGE_audio-utils=m
CONFIG_PACKAGE_bash=m
CONFIG_PACKAGE_binutils=m
CONFIG_PACKAGE_bluetopia=m
CONFIG_PACKAGE_boost-filesystem=m
CONFIG_PACKAGE_boost-iostreams=m
CONFIG_PACKAGE_boost=m
CONFIG_PACKAGE_boost-program_options=m
CONFIG_PACKAGE_boost-regex=m
CONFIG_PACKAGE_boost-system=m
CONFIG_PACKAGE_btdaemon=m
CONFIG_PACKAGE_btdiag=m
CONFIG_PACKAGE_ca-bundle=m
CONFIG_PACKAGE_ca-certificates=m
CONFIG_PACKAGE_casa-util=m
CONFIG_PACKAGE_clk-debug=m
CONFIG_PACKAGE_cnssdiag=m
CONFIG_PACKAGE_coremark=m
CONFIG_PACKAGE_coreutils=m
CONFIG_PACKAGE_coreutils-readlink=m
CONFIG_PACKAGE_coreutils-stty=m
CONFIG_PACKAGE_cryptsetup=m
CONFIG_PACKAGE_curl=m
CONFIG_PACKAGE_data-exec-protection-test=m
CONFIG_PACKAGE_dbus-cpp=m
CONFIG_PACKAGE_dbus=m
CONFIG_PACKAGE_dmesg=m
CONFIG_PACKAGE_dosfstools=m
CONFIG_PACKAGE_dsi_netctrl=m
CONFIG_PACKAGE_dsi_netctrl_test=m
CONFIG_PACKAGE_ds-lite=m
CONFIG_PACKAGE_dsutils=m
CONFIG_PACKAGE_easycwmp=m
CONFIG_PACKAGE_ebtables=m
CONFIG_PACKAGE_fdisk=m
CONFIG_PACKAGE_ftm=m
CONFIG_PACKAGE_gdb=m
CONFIG_PACKAGE_gecko=m
CONFIG_PACKAGE_getopt=m
CONFIG_PACKAGE_glib2=m
CONFIG_PACKAGE_googletest=m
CONFIG_PACKAGE_gpio-debug=m
CONFIG_PACKAGE_gpiod-tools=m
CONFIG_PACKAGE_gpr=m
CONFIG_PACKAGE_gsl=m
CONFIG_PACKAGE_healthmonitor=m
CONFIG_PACKAGE_hyfi-mesh=m
CONFIG_PACKAGE_hyfi-ui=m
CONFIG_PACKAGE_i2c-rw-utils=m
CONFIG_PACKAGE_iozone=m
CONFIG_PACKAGE_iperf3=m
CONFIG_PACKAGE_ip=m
CONFIG_PACKAGE_ip-passthru=m
CONFIG_PACKAGE_ipqcm=m
CONFIG_PACKAGE_iptables-mod-ipsec=m
CONFIG_PACKAGE_iputils-ping6=m
CONFIG_PACKAGE_iputils-ping=m
CONFIG_PACKAGE_isc-dhcp-client-ipv6=m
CONFIG_PACKAGE_isc-dhcp-relay-ipv6=m
CONFIG_PACKAGE_kmod-ac97=m
CONFIG_PACKAGE_kmod-arptables=m
# CONFIG_PACKAGE_kmod-art2 is not set
CONFIG_PACKAGE_kmod-block2mtd=m
CONFIG_PACKAGE_kmod-bonding=y
CONFIG_PACKAGE_kmod-bridge=m
CONFIG_PACKAGE_kmod-coresight-stream-sock=m
CONFIG_PACKAGE_kmod-crypto-ocf=y
CONFIG_PACKAGE_kmod-crypto-qce=m
CONFIG_PACKAGE_kmod-crypto-qcrypto=m
CONFIG_PACKAGE_kmod-crypto-test=m
CONFIG_PACKAGE_kmod-diag-char=m
CONFIG_PACKAGE_kmod-dm=m
CONFIG_PACKAGE_kmod-e1000e=m
CONFIG_PACKAGE_kmod-ebtables-ipv4=m
CONFIG_PACKAGE_kmod-ebtables-ipv6=m
CONFIG_PACKAGE_kmod-ebtables=m
CONFIG_PACKAGE_kmod-emesh-sp=m
CONFIG_PACKAGE_kmod-fuse=m
CONFIG_PACKAGE_kmod-fw-auth-test=m
CONFIG_PACKAGE_kmod-gpio-pcf857x=m
CONFIG_PACKAGE_kmod-hwmon-core=m
CONFIG_PACKAGE_kmod-hwmon-lm75=m
CONFIG_PACKAGE_kmod-i2c-core=m
CONFIG_PACKAGE_kmod-ip6-tunnel=m
CONFIG_PACKAGE_kmod-ipsec4=m
CONFIG_PACKAGE_kmod-ipsec6=m
CONFIG_PACKAGE_kmod-ipsec=m
CONFIG_PACKAGE_kmod-ipt-ct-sctp=m
CONFIG_PACKAGE_kmod-ipt-ipsec=m
CONFIG_PACKAGE_kmod-l2tp=m
CONFIG_PACKAGE_kmod-lib-crc32c=m
CONFIG_PACKAGE_kmod-lib-lzo=m
CONFIG_PACKAGE_kmod-lib-zlib=m
CONFIG_PACKAGE_kmod-lkdtm=m
CONFIG_PACKAGE_kmod-llc=m
CONFIG_PACKAGE_kmod-mhi-qrtr-mproc=m
CONFIG_PACKAGE_kmod-mhitest_mod=m
CONFIG_PACKAGE_kmod-mii=m
CONFIG_PACKAGE_kmod-mppe=m
CONFIG_PACKAGE_kmod-msm-mproc=m
CONFIG_PACKAGE_kmod-mtdtests=m
CONFIG_PACKAGE_kmod-nat46=m
CONFIG_PACKAGE_kmod-nat-sctp=m
# CONFIG_PACKAGE_kmod-openswan is not set
CONFIG_PACKAGE_kmod-pppol2tp=m
CONFIG_PACKAGE_kmod-pps=m
CONFIG_PACKAGE_kmod-ptp=m
CONFIG_PACKAGE_kmod-q5drv_linux=m
CONFIG_PACKAGE_kmod-qca-edma=m
CONFIG_PACKAGE_kmod-qca-hyfi-bridge=m
# CONFIG_PACKAGE_kmod-qca-hyfi-iptv-helper is not set
# CONFIG_PACKAGE_kmod-qca-hyfi-qdisc is not set
CONFIG_PACKAGE_kmod-qca-nss-cfi-cryptoapi=m
# CONFIG_PACKAGE_kmod-qca-nss-cfi-ocf is not set
CONFIG_PACKAGE_kmod-qca-nss-crypto=m
CONFIG_PACKAGE_kmod-qca-nss-drv-bridge-mgr=m
CONFIG_PACKAGE_kmod-qca-nss-drv-gre=m
CONFIG_PACKAGE_kmod-qca-nss-drv-igs=m
# CONFIG_PACKAGE_kmod-qca-nss-drv-ipsecmgr-klips is not set
CONFIG_PACKAGE_kmod-qca-nss-drv-ipsecmgr=m
CONFIG_PACKAGE_kmod-qca-nss-drv-l2tpv2=m
CONFIG_PACKAGE_kmod-qca-nss-drv-lag-mgr=m
CONFIG_PACKAGE_kmod-qca-nss-drv-map-t=m
CONFIG_PACKAGE_kmod-qca-nss-drv-match=m
CONFIG_PACKAGE_kmod-qca-nss-drv-mirror=m
CONFIG_PACKAGE_kmod-qca-nss-drv-mscs=m
CONFIG_PACKAGE_kmod-qca-nss-drv-ovpn-link=m
CONFIG_PACKAGE_kmod-qca-nss-drv-ovpn-mgr=m
CONFIG_PACKAGE_kmod-qca-nss-drv-pppoe=m
CONFIG_PACKAGE_kmod-qca-nss-drv-pptp=m
CONFIG_PACKAGE_kmod-qca-nss-drv-profile=m
CONFIG_PACKAGE_kmod-qca-nss-drv-qdisc=m
# CONFIG_PACKAGE_kmod-qca-nss-drv-tlsmgr is not set
CONFIG_PACKAGE_kmod-qca-nss-drv-tun6rd=m
CONFIG_PACKAGE_kmod-qca-nss-drv-tunipip6=m
CONFIG_PACKAGE_kmod-qca-nss-drv-vlan-mgr=m
CONFIG_PACKAGE_kmod-qca-nss-drv-vxlanmgr=m
# CONFIG_PACKAGE_kmod-qca-nss-ecm-noload is not set
CONFIG_PACKAGE_kmod-qca-nss-ecm-premium=m
CONFIG_PACKAGE_kmod-qca-nss-gmac=m
CONFIG_PACKAGE_kmod-qca-nss-macsec=m
CONFIG_PACKAGE_kmod-qca-psdk=m
CONFIG_PACKAGE_kmod-qca-ssdk-hnat=m
CONFIG_PACKAGE_kmod-qca-wifi-unified-profile=m
CONFIG_PACKAGE_kmod-qca-wigig-driver=m
CONFIG_PACKAGE_kmod-qmi_sample_client=m
CONFIG_PACKAGE_kmod-qmi-test-app=m
CONFIG_PACKAGE_kmod-qpic_panel_ertft=m
CONFIG_PACKAGE_kmod-qseecom=m
CONFIG_PACKAGE_kmod-regmap=m
CONFIG_PACKAGE_kmod-rmnet-core=m
CONFIG_PACKAGE_kmod-rmnet-ctl=m
CONFIG_PACKAGE_kmod-rmnet-nss=m
CONFIG_PACKAGE_kmod-security-assurance-test=m
CONFIG_PACKAGE_kmod-sierra-driver=m
CONFIG_PACKAGE_kmod-sound-core=m
CONFIG_PACKAGE_kmod-sound-soc-core=m
CONFIG_PACKAGE_kmod-sound-soc-ipq=m
CONFIG_PACKAGE_kmod-stp=m
CONFIG_PACKAGE_kmod-testssr=m
CONFIG_PACKAGE_kmod-test-udelay=m
CONFIG_PACKAGE_kmod-tun=m
CONFIG_PACKAGE_kmod-usb-chipidea-qti=m
CONFIG_PACKAGE_kmod-usb-f-diag=m
CONFIG_PACKAGE_kmod-usb-f-qdss=m
CONFIG_PACKAGE_kmod-usb-gdiag=m
CONFIG_PACKAGE_kmod-usb-ks-bridge=m
CONFIG_PACKAGE_kmod-usb-net=m
CONFIG_PACKAGE_kmod-usb-phy-ci-qti=m
CONFIG_PACKAGE_kmod-usb-printer=m
CONFIG_PACKAGE_kmod-usb-serial=m
CONFIG_PACKAGE_kmod-veth=m
CONFIG_PACKAGE_kmod-vxlan=m
CONFIG_PACKAGE_libacl=m
CONFIG_PACKAGE_libatomic=m
CONFIG_PACKAGE_libattr=m
CONFIG_PACKAGE_libbfd=m
CONFIG_PACKAGE_libblkid=m
CONFIG_PACKAGE_libbz2=m
CONFIG_PACKAGE_libcap=m
CONFIG_PACKAGE_libcurl=m
CONFIG_PACKAGE_libdbus=m
CONFIG_PACKAGE_libdevmapper=m
CONFIG_PACKAGE_libdw=m
CONFIG_PACKAGE_libelf1=m
CONFIG_PACKAGE_libevent2=m
CONFIG_PACKAGE_libexpat=m
CONFIG_PACKAGE_libffi=m
# CONFIG_PACKAGE_libffmpeg-full is not set
CONFIG_PACKAGE_libgcrypt=m
CONFIG_PACKAGE_libgmp=m
CONFIG_PACKAGE_libgnutls=m
CONFIG_PACKAGE_libgpg-error=m
CONFIG_PACKAGE_libgst1adaptivedemux=m
CONFIG_PACKAGE_libgst1allocators=m
CONFIG_PACKAGE_libgst1app=m
CONFIG_PACKAGE_libgst1audio=m
CONFIG_PACKAGE_libgst1controller=m
CONFIG_PACKAGE_libgst1fft=m
CONFIG_PACKAGE_libgst1net=m
CONFIG_PACKAGE_libgst1pbutils=m
CONFIG_PACKAGE_libgst1riff=m
CONFIG_PACKAGE_libgst1rtp=m
CONFIG_PACKAGE_libgst1rtsp=m
CONFIG_PACKAGE_libgst1sdp=m
CONFIG_PACKAGE_libgst1tag=m
CONFIG_PACKAGE_libgst1uridownloader=m
CONFIG_PACKAGE_libgst1video=m
CONFIG_PACKAGE_libgstreamer1=m
CONFIG_PACKAGE_libjsoncpp=m
CONFIG_PACKAGE_libkmod=m
CONFIG_PACKAGE_libltdl=m
CONFIG_PACKAGE_liblxc=m
CONFIG_PACKAGE_liblzo=m
CONFIG_PACKAGE_libmad=m
CONFIG_PACKAGE_libmbedtls=m
CONFIG_PACKAGE_libmicroxml=m
# CONFIG_PACKAGE_libmpg123 is not set
CONFIG_PACKAGE_libncurses=m
CONFIG_PACKAGE_libnetmgr_rmnet_ext=m
CONFIG_PACKAGE_libnettle=m
CONFIG_PACKAGE_libnghttp2=m
CONFIG_PACKAGE_libogg=m
CONFIG_PACKAGE_libopcodes=m
CONFIG_PACKAGE_libopus=m
CONFIG_PACKAGE_libpcap=m
CONFIG_PACKAGE_libpopt=m
CONFIG_PACKAGE_libqmi_client_qmux=m
CONFIG_PACKAGE_libqnicorn_internal=m
CONFIG_PACKAGE_libreadline=m
CONFIG_PACKAGE_libsmartcols=m
CONFIG_PACKAGE_libsndfile=m
CONFIG_PACKAGE_libsoup=m
CONFIG_PACKAGE_libspeexdsp=m
CONFIG_PACKAGE_libspeex=m
CONFIG_PACKAGE_libsqlite3=m
CONFIG_PACKAGE_libtcmd=m
CONFIG_PACKAGE_libtheora=m
CONFIG_PACKAGE_libtirpc=m
CONFIG_PACKAGE_libvorbis=m
CONFIG_PACKAGE_libvpx=m
CONFIG_PACKAGE_linuxptp=m
CONFIG_PACKAGE_lldpd=m
CONFIG_PACKAGE_lmbench-bw-file-rd=m
CONFIG_PACKAGE_lmbench-bw-mem=m
CONFIG_PACKAGE_lmbench-bw-mmap-rd=m
CONFIG_PACKAGE_lmbench-cache=m
CONFIG_PACKAGE_lmbench-lat-cmd=m
CONFIG_PACKAGE_lmbench-lat-fifo=m
CONFIG_PACKAGE_lmbench-lat-fs=m
CONFIG_PACKAGE_lmbench-lat-mem-rd=m
CONFIG_PACKAGE_lmbench-lat-mmap=m
CONFIG_PACKAGE_lmbench-lmdd=m
CONFIG_PACKAGE_lmbench=m
CONFIG_PACKAGE_lmbench-memsize=m
CONFIG_PACKAGE_lmbench-mhz=m
CONFIG_PACKAGE_lrzsz=m
CONFIG_PACKAGE_ltp=m
CONFIG_PACKAGE_luafilesystem=m
CONFIG_PACKAGE_luci-app-atf=m
CONFIG_PACKAGE_luci-app-lte=m
CONFIG_PACKAGE_luci-app-lxc=m
CONFIG_PACKAGE_luci-app-openvpn=m
CONFIG_PACKAGE_luci-app-samba=m
CONFIG_PACKAGE_luci-hyfi-advanced=m
CONFIG_PACKAGE_luci-hyfi=m
CONFIG_PACKAGE_luci-wsplc-advanced=m
CONFIG_PACKAGE_luci-wsplc=m
CONFIG_PACKAGE_lvm2=m
CONFIG_PACKAGE_lxc-attach=m
CONFIG_PACKAGE_lxc-auto=m
CONFIG_PACKAGE_lxc-cgroup=m
CONFIG_PACKAGE_lxc-checkconfig=m
CONFIG_PACKAGE_lxc-common=m
CONFIG_PACKAGE_lxc-configs=m
CONFIG_PACKAGE_lxc-console=m
CONFIG_PACKAGE_lxc-create=m
CONFIG_PACKAGE_lxc-destroy=m
CONFIG_PACKAGE_lxc-hooks=m
CONFIG_PACKAGE_lxc-info=m
CONFIG_PACKAGE_lxc-lua=m
CONFIG_PACKAGE_lxc=m
CONFIG_PACKAGE_lxc-monitord=m
CONFIG_PACKAGE_lxc-start=m
CONFIG_PACKAGE_lxc-stop=m
CONFIG_PACKAGE_lxc-templates=m
CONFIG_PACKAGE_map=m
CONFIG_PACKAGE_map-t=m
CONFIG_PACKAGE_mdadm=m
CONFIG_PACKAGE_mdump=m
CONFIG_PACKAGE_memfeast=m
CONFIG_PACKAGE_memtester=m
CONFIG_PACKAGE_minicom=m
CONFIG_PACKAGE_mkdosfs=m
CONFIG_PACKAGE_modem_monitor=m
CONFIG_PACKAGE_myftm=m
CONFIG_PACKAGE_nand-utils=m
CONFIG_PACKAGE_nlcfg=m
CONFIG_PACKAGE_ntfs-3g=m
CONFIG_PACKAGE_ntfsprogs_ntfs-3g=m
CONFIG_PACKAGE_objdump=m
CONFIG_PACKAGE_opencore-amr=m
CONFIG_PACKAGE_openssh-sftp-server=m
CONFIG_PACKAGE_openswan=m
CONFIG_PACKAGE_openvpn-easy-rsa=m
CONFIG_PACKAGE_openvpn-openssl=m
CONFIG_PACKAGE_openvswitch=m
CONFIG_PACKAGE_osal=m
CONFIG_PACKAGE_p910nd=m
CONFIG_PACKAGE_pciutils=m
CONFIG_PACKAGE_perf=m
CONFIG_PACKAGE_ppp-mod-pppol2tp=m
CONFIG_PACKAGE_ppp-mod-pptp=m
CONFIG_PACKAGE_process-cpp=m
CONFIG_PACKAGE_procps-free=m
CONFIG_PACKAGE_procps=m
CONFIG_PACKAGE_procps-pgrep=m
CONFIG_PACKAGE_procps-pkill=m
CONFIG_PACKAGE_procps-pmap=m
CONFIG_PACKAGE_procps-ps=m
CONFIG_PACKAGE_procps-pwdx=m
CONFIG_PACKAGE_procps-skill=m
CONFIG_PACKAGE_procps-slabtop=m
CONFIG_PACKAGE_procps-snice=m
CONFIG_PACKAGE_procps-tload=m
CONFIG_PACKAGE_procps-top=m
CONFIG_PACKAGE_procps-vmstat=m
CONFIG_PACKAGE_procps-watch=m
CONFIG_PACKAGE_procps-w=m
CONFIG_PACKAGE_protobuf=m
CONFIG_PACKAGE_qal=m
CONFIG_PACKAGE_qca-acd=m
CONFIG_PACKAGE_qca-diag=m
CONFIG_PACKAGE_qca-fst-manager=m
CONFIG_PACKAGE_qca-hostap-macsec=m
CONFIG_PACKAGE_qca-hyctl=m
CONFIG_PACKAGE_qca-hyd-map=m
CONFIG_PACKAGE_qca-hyd-son=m
CONFIG_PACKAGE_qca-IOT=m
CONFIG_PACKAGE_qca-libhyfi-bridge=m
CONFIG_PACKAGE_qca-libwigigaoa=m
CONFIG_PACKAGE_qca-nss-fw2-enterprise_custA=m
CONFIG_PACKAGE_qca-nss-fw2-enterprise_custC=m
CONFIG_PACKAGE_qca-nss-fw2-enterprise_custR=m
CONFIG_PACKAGE_qca-nss-fw2-enterprise=m
CONFIG_PACKAGE_qca-nss-fw-cp-enterprise_custA=m
CONFIG_PACKAGE_qca-nss-fw-cp-enterprise_custC=m
CONFIG_PACKAGE_qca-nss-fw-cp-enterprise_custR=m
CONFIG_PACKAGE_qca-nss-fw-cp-enterprise=m
CONFIG_PACKAGE_qca-nss-fw-eip-cp=m
CONFIG_PACKAGE_qca-nss-fw-eip-hk=m
CONFIG_PACKAGE_qca-nss-fw-hk-enterprise_custA=m
CONFIG_PACKAGE_qca-nss-fw-hk-enterprise_custC=m
CONFIG_PACKAGE_qca-nss-fw-hk-enterprise_custR=m
CONFIG_PACKAGE_qca-nss-fw-hk-enterprise=m
CONFIG_PACKAGE_qca-plc-fw-7500=m
CONFIG_PACKAGE_qca-plc-fw=m
CONFIG_PACKAGE_qca-plc-serv-Crashscope=m
CONFIG_PACKAGE_qca-plc-serv=m
CONFIG_PACKAGE_qca-psdk-cli=m
CONFIG_PACKAGE_qca-qrtr=m
CONFIG_PACKAGE_qca-wifi-hk-fw-hw1-10.4-asic=m
CONFIG_PACKAGE_qca-wifi-scripts=m
CONFIG_PACKAGE_qca-wigig-debug-tools=m
CONFIG_PACKAGE_QCA_WIGIG_NSS_SUPPORT=y
CONFIG_PACKAGE_qca-wigig-tools=m
CONFIG_PACKAGE_qca-wigig-wfa-sigma=m
CONFIG_PACKAGE_qca-wpa-supplicant-macsec=m
CONFIG_PACKAGE_qdi=m
CONFIG_PACKAGE_qmi_client_helper=m
CONFIG_PACKAGE_qmiidl=m
CONFIG_PACKAGE_qmi=m
CONFIG_PACKAGE_qmiservices=m
CONFIG_PACKAGE_qmsct_client=m
CONFIG_PACKAGE_qnicornd=m
CONFIG_PACKAGE_qnicorn_tests=m
CONFIG_PACKAGE_qtip_server_linux=m
CONFIG_PACKAGE_quagga-libzebra=m
CONFIG_PACKAGE_quagga=m
CONFIG_PACKAGE_quagga-ripd=m
CONFIG_PACKAGE_quagga-vtysh=m
CONFIG_PACKAGE_quagga-watchquagga=m
CONFIG_PACKAGE_quagga-zebra=m
CONFIG_PACKAGE_remserial=m
CONFIG_PACKAGE_resolveip=m
CONFIG_PACKAGE_rmnetctl=m
CONFIG_PACKAGE_rpcd-mod-lxc=m
CONFIG_PACKAGE_rp-pppoe-server=m
CONFIG_PACKAGE_samba36-server=m
CONFIG_PACKAGE_shadow-chage=m
CONFIG_PACKAGE_shadow-common=m
CONFIG_PACKAGE_shadow-groupadd=m
CONFIG_PACKAGE_shadow-groupdel=m
CONFIG_PACKAGE_shadow-groupmod=m
CONFIG_PACKAGE_shadow-groups=m
CONFIG_PACKAGE_shadow=m
CONFIG_PACKAGE_shadow-passwd=m
CONFIG_PACKAGE_shadow-su=m
CONFIG_PACKAGE_shadow-useradd=m
CONFIG_PACKAGE_shadow-userdel=m
CONFIG_PACKAGE_shadow-usermod=m
CONFIG_PACKAGE_shadow-utils=m
CONFIG_PACKAGE_sierra-cm=m
CONFIG_PACKAGE_sigma-dut-open=m
CONFIG_PACKAGE_sndparser=m
CONFIG_PACKAGE_strace=m
CONFIG_PACKAGE_stress=m
CONFIG_PACKAGE_tayga=m
CONFIG_PACKAGE_tcpdump=m
CONFIG_PACKAGE_terminfo=m
CONFIG_PACKAGE_testAppUsingBreakpad=m
CONFIG_PACKAGE_thread=m
CONFIG_PACKAGE_tinyalsa=m
CONFIG_PACKAGE_udev_scripts=m
CONFIG_PACKAGE_usbutils=m
CONFIG_PACKAGE_uuidgen=m
CONFIG_PACKAGE_valgrind=m
CONFIG_PACKAGE_wigig-firmware=m
CONFIG_PACKAGE_wigig-mac80211=m
CONFIG_PACKAGE_xl2tpd=m
CONFIG_PACKAGE_xmlrpc-c-abyss=m
CONFIG_PACKAGE_xmlrpc-c-client=m
CONFIG_PACKAGE_xmlrpc-c-common=m
CONFIG_PACKAGE_xmlrpc-c-internal=m
CONFIG_PACKAGE_xmlrpc-c=m
CONFIG_PACKAGE_xmlrpc-c-server-abyss=m
CONFIG_PACKAGE_xmlrpc-c-server=m
CONFIG_PACKAGE_zigbee_efr32=m
# CONFIG_PKG_CC_STACKPROTECTOR_NONE is not set
# CONFIG_PKG_CC_STACKPROTECTOR_REGULAR is not set
CONFIG_PKG_CC_STACKPROTECTOR_STRONG=y
CONFIG_PKG_FORTIFY_SOURCE_2=y
# CONFIG_PKG_FORTIFY_SOURCE_NONE is not set
CONFIG_PKG_RELRO_FULL=y
# CONFIG_PKG_RELRO_NONE is not set
CONFIG_shadow-all=y
CONFIG_SQLITE_FTS3=y
CONFIG_SQLITE_RTREE=y
CONFIG_SSP_SUPPORT=y
CONFIG_TARGET_INITRAMFS_COMPRESSION_LZMA=y
CONFIG_TARGET_ROOTFS_INITRAMFS=y
CONFIG_TOOLCHAINOPTS=y
# CONFIG_WIFI_TARGET_WIFI_2_0 is not set
CONFIG_WPA_MSG_MIN_PRIORITY=0
CONFIG_WSPLCD_SUPPORT_PLC=y
