CONFIG_TARGET_ipq807x=y
CONFIG_TARGET_ipq807x_generic=y
CONFIG_TARGET_ipq807x_generic_QSDK_256=y
CONFIG_TARGET_BOARD="ipq807x"
CONFIG_DEVEL=y
CONFIG_COLLECT_KERNEL_DEBUG=y
CONFIG_FEATURE_QCA_IOT_IPQ50XX_SUPPORT=y
CONFIG_GIT_MIRROR="https://source.codeaurora.org/quic/qsdk/"
CONFIG_KERNEL_ALLOC_SKB_PAGE_FRAG_DISABLE=y
CONFIG_KERNEL_ARCH_IPQ256M=y
# CONFIG_KERNEL_BLK_DEV_NVME is not set
# CONFIG_KERNEL_BLK_DEV_RAM is not set
CONFIG_KERNEL_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_KERNEL_CC_STACKPROTECTOR_NONE=y
# CONFIG_KERNEL_CC_STACKPROTECTOR_REGULAR is not set
CONFIG_KERNEL_CFS_BANDWIDTH=y
CONFIG_KERNEL_CGROUP_CPUACCT=y
CONFIG_KERNEL_CGROUP_SCHED=y
CONFIG_KERNEL_CGROUPS=y
CONFIG_KERNEL_CPUSETS=y
# CONFIG_KERNEL_CRASH_DUMP is not set
# CONFIG_KERNEL_DEBUG_BUGVERBOSE is not set
# CONFIG_KERNEL_DEBUG_GPIO is not set
# CONFIG_KERNEL_DEBUG_INFO_REDUCED is not set
# CONFIG_KERNEL_DEVMEM is not set
# CONFIG_KERNEL_DYNAMIC_DEBUG is not set
# CONFIG_KERNEL_ELF_CORE is not set
CONFIG_KERNEL_FAIR_GROUP_SCHED=y
# CONFIG_KERNEL_I2C_COMPAT is not set
CONFIG_KERNEL_IPQ_MEM_PROFILE=256
# CONFIG_KERNEL_KALLSYMS is not set
CONFIG_KERNEL_MEMCG_KMEM=y
CONFIG_KERNEL_MEMCG=y
# CONFIG_KERNEL_NAMESPACES is not set
# CONFIG_KERNEL_NET_IPGRE_BROADCAST is not set
CONFIG_KERNEL_RESOURCE_COUNTERS=y
CONFIG_KERNEL_RT_GROUP_SCHED=y
CONFIG_KERNEL_SKB_FIXED_SIZE_2K=y
# CONFIG_KERNEL_SKB_RECYCLER is not set
# CONFIG_KERNEL_SKB_RECYCLER_MULTI_CPU is not set
# CONFIG_KERNEL_STRICT_KERNEL_RWX is not set
# CONFIG_KERNEL_STRICT_MODULE_RWX is not set
# CONFIG_KERNEL_SWAP is not set
CONFIG_KERNEL_USER_NS=y
# CONFIG_LIBC_USE_UCLIBC is not set
CONFIG_LOCALMIRROR="https://www.codeaurora.org/mirrored_source/quic/qsdk/"
CONFIG_LXC_BUSYBOX_OPTIONS=y
CONFIG_LXC_KERNEL_OPTIONS=y
CONFIG_PACKAGE_bluetopia-mini=m
CONFIG_PACKAGE_btdaemon=m
CONFIG_PACKAGE_coremark=m
CONFIG_PACKAGE_i2c-rw-utils=m
CONFIG_PACKAGE_i2c-tools=m
CONFIG_PACKAGE_iozone=m
# CONFIG_PACKAGE_iwinfo is not set
CONFIG_PACKAGE_kmod-coresight-stream-sock=m
CONFIG_PACKAGE_kmod-fs-msdos=m
CONFIG_PACKAGE_kmod-fs-vfat=m
CONFIG_PACKAGE_kmod-mhitest_mod=m
CONFIG_PACKAGE_kmod-qca-psdk=m
CONFIG_PACKAGE_kmod-qmi_sample_client=m
CONFIG_PACKAGE_kmod-testssr=m
CONFIG_PACKAGE_luci-app-samba=m
CONFIG_PACKAGE_memtester=m
CONFIG_PACKAGE_nand-utils=m
CONFIG_PACKAGE_QCA_ATH_DEBUG=y
CONFIG_PACKAGE_qca-hyd-map=m
CONFIG_PACKAGE_qca-psdk-cli=m
CONFIG_PACKAGE_qca-qrtr=m
CONFIG_PACKAGE_sysstat=m
# CONFIG_PKG_CC_STACKPROTECTOR_NONE is not set
# CONFIG_PKG_CC_STACKPROTECTOR_REGULAR is not set
CONFIG_PKG_CC_STACKPROTECTOR_STRONG=y
CONFIG_PKG_FORTIFY_SOURCE_2=y
# CONFIG_PKG_FORTIFY_SOURCE_NONE is not set
CONFIG_PKG_RELRO_FULL=y
# CONFIG_QCA_MINIDUMP is not set
# CONFIG_shadow-all is not set
CONFIG_TARGET_INITRAMFS_COMPRESSION_LZMA=y
CONFIG_TARGET_ROOTFS_INITRAMFS=y
# CONFIG_TARGET_ROOTFS_TARGZ is not set
CONFIG_TARGET_ROOTFS_UBIFS=y
CONFIG_TOOLCHAINOPTS=y
CONFIG_WIFI_TARGET_WIFI_2_0=n
CONFIG_WPA_MSG_MIN_PRIORITY=0
