CONFIG_TARGET_ipq50xx=y
CONFIG_TARGET_ipq50xx_ipq50xx_32=y
CONFIG_TARGET_ipq50xx_ipq50xx_32_QSDK_16M=y
CONFIG_TARGET_BOARD="ipq50xx"
CONFIG_DEVEL=y
# CONFIG_BUSYBOX_CONFIG_BUNZIP2 is not set
# CONFIG_BUSYBOX_CONFIG_BZCAT is not set
# CONFIG_BUSYBOX_CONFIG_CHGRP is not set
# CONFIG_BUSYBOX_CONFIG_CHROOT is not set
# CONFIG_BUSYBOX_CONFIG_CLEAR is not set
# CONFIG_BUSYBOX_CONFIG_DEVMEM is not set
# CONFIG_BUSYBOX_CONFIG_DU is not set
# CONFIG_BUSYBOX_CONFIG_EGREP is not set
# CONFIG_BUSYBOX_CONFIG_FEATURE_ALLOW_EXEC is not set
# CONFIG_BUSYBOX_CONFIG_FEATURE_DMESG_PRETTY is not set
# CONFIG_BUSYBOX_CONFIG_FEATURE_EDITING_SAVEHISTORY is not set
# CONFIG_BUSYBOX_CONFIG_FEATURE_FAST_TOP is not set
# CONFIG_BUSYBOX_CONFIG_FEATURE_FIND_GROUP is not set
# CONFIG_BUSYBOX_CONFIG_FEATURE_FIND_SIZE is not set
# CONFIG_BUSYBOX_CONFIG_FEATURE_FIND_TYPE is not set
# CONFIG_BUSYBOX_CONFIG_FEATURE_FIND_USER is not set
# CONFIG_BUSYBOX_CONFIG_FEATURE_FIND_XDEV is not set
# CONFIG_BUSYBOX_CONFIG_FEATURE_GREP_CONTEXT is not set
# CONFIG_BUSYBOX_CONFIG_FEATURE_HAVE_RPC is not set
CONFIG_BUSYBOX_CONFIG_FEATURE_HEXDUMP_REVERSE=y
# CONFIG_BUSYBOX_CONFIG_FEATURE_LS_COLOR_IS_DEFAULT is not set
# CONFIG_BUSYBOX_CONFIG_FEATURE_MOUNT_FSTAB is not set
# CONFIG_BUSYBOX_CONFIG_FEATURE_MOUNT_LOOP is not set
# CONFIG_BUSYBOX_CONFIG_FEATURE_NON_POSIX_CP is not set
CONFIG_BUSYBOX_CONFIG_FEATURE_PIDOF_OMIT=y
CONFIG_BUSYBOX_CONFIG_FEATURE_PIDOF_SINGLE=y
# CONFIG_BUSYBOX_CONFIG_FEATURE_REVERSE_SEARCH is not set
# CONFIG_BUSYBOX_CONFIG_FEATURE_SEAMLESS_GZ is not set
# CONFIG_BUSYBOX_CONFIG_FEATURE_SHADOWPASSWDS is not set
# CONFIG_BUSYBOX_CONFIG_FEATURE_SUID is not set
# CONFIG_BUSYBOX_CONFIG_FEATURE_TAB_COMPLETION is not set
# CONFIG_BUSYBOX_CONFIG_FEATURE_TOUCH_SUSV3 is not set
# CONFIG_BUSYBOX_CONFIG_FEATURE_TRACEROUTE_VERBOSE is not set
# CONFIG_BUSYBOX_CONFIG_FEATURE_UDHCP_RFC3397 is not set
# CONFIG_BUSYBOX_CONFIG_FEATURE_USE_SENDFILE is not set
# CONFIG_BUSYBOX_CONFIG_FGREP is not set
# CONFIG_BUSYBOX_CONFIG_FREE is not set
# CONFIG_BUSYBOX_CONFIG_FSYNC is not set
# CONFIG_BUSYBOX_CONFIG_FTPD is not set
# CONFIG_BUSYBOX_CONFIG_FTPGET is not set
# CONFIG_BUSYBOX_CONFIG_FTPPUT is not set
# CONFIG_BUSYBOX_CONFIG_GUNZIP is not set
# CONFIG_BUSYBOX_CONFIG_GZIP is not set
# CONFIG_BUSYBOX_CONFIG_HOSTID is not set
# CONFIG_BUSYBOX_CONFIG_HWCLOCK is not set
# CONFIG_BUSYBOX_CONFIG_INETD is not set
# CONFIG_BUSYBOX_CONFIG_IOCTL_HEX2STR_ERROR is not set
# CONFIG_BUSYBOX_CONFIG_IPCS is not set
# CONFIG_BUSYBOX_CONFIG_LESS is not set
# CONFIG_BUSYBOX_CONFIG_MKSWAP is not set
# CONFIG_BUSYBOX_CONFIG_NETMSG is not set
# CONFIG_BUSYBOX_CONFIG_NETSTAT is not set
# CONFIG_BUSYBOX_CONFIG_NICE is not set
# CONFIG_BUSYBOX_CONFIG_NTPD is not set
# CONFIG_BUSYBOX_CONFIG_PIVOT_ROOT is not set
# CONFIG_BUSYBOX_CONFIG_RESET is not set
# CONFIG_BUSYBOX_CONFIG_RMDIR is not set
# CONFIG_BUSYBOX_CONFIG_RUN_PARTS is not set
# CONFIG_BUSYBOX_CONFIG_SHA256SUM is not set
# CONFIG_BUSYBOX_CONFIG_STRINGS is not set
# CONFIG_BUSYBOX_CONFIG_SWAPOFF is not set
# CONFIG_BUSYBOX_CONFIG_SWAPON is not set
# CONFIG_BUSYBOX_CONFIG_SWITCH_ROOT is not set
# CONFIG_BUSYBOX_CONFIG_TAR is not set
# CONFIG_BUSYBOX_CONFIG_TASKSET is not set
# CONFIG_BUSYBOX_CONFIG_TEE is not set
# CONFIG_BUSYBOX_CONFIG_TFTPD is not set
# CONFIG_BUSYBOX_CONFIG_TOP is not set
# CONFIG_BUSYBOX_CONFIG_TRACEROUTE is not set
# CONFIG_BUSYBOX_CONFIG_UPTIME is not set
# CONFIG_BUSYBOX_CONFIG_USLEEP is not set
# CONFIG_BUSYBOX_CONFIG_VERBOSE_RESOLUTION_ERRORS is not set
# CONFIG_BUSYBOX_CONFIG_WGET is not set
# CONFIG_BUSYBOX_CONFIG_WHICH is not set
# CONFIG_BUSYBOX_CONFIG_ZCAT is not set
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_COLLECT_KERNEL_DEBUG=y
# CONFIG_ENABLE_SON_CLI is not set
# CONFIG_ENABLE_SON_MEMORY_DEBUG is not set
CONFIG_EXTERNAL_LINUX_CONFIG_NAME="config-lowmem"
CONFIG_GIT_MIRROR="https://source.codeaurora.org/quic/qsdk/"
# CONFIG_HYD_SUPPORT_BREAKPAD is not set
CONFIG_KERNEL_ALLOC_SKB_PAGE_FRAG_DISABLE=y
CONFIG_KERNEL_ARCH_IPQ256M=y
# CONFIG_KERNEL_ARM_KERNMEM_PERMS is not set
# CONFIG_KERNEL_BLK_DEV_NVME is not set
# CONFIG_KERNEL_BLK_DEV_RAM is not set
CONFIG_KERNEL_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_KERNEL_CC_STACKPROTECTOR_NONE=y
# CONFIG_KERNEL_CC_STACKPROTECTOR_REGULAR is not set
CONFIG_KERNEL_CFS_BANDWIDTH=y
# CONFIG_KERNEL_CRASH_DUMP is not set
# CONFIG_KERNEL_CRASHLOG is not set
# CONFIG_KERNEL_DEBUG_BUGVERBOSE is not set
# CONFIG_KERNEL_DEBUG_GPIO is not set
# CONFIG_KERNEL_DEBUG_INFO_REDUCED is not set
# CONFIG_KERNEL_DEVMEM is not set
# CONFIG_KERNEL_DYNAMIC_DEBUG is not set
# CONFIG_KERNEL_ELF_CORE is not set
CONFIG_KERNEL_FAIR_GROUP_SCHED=y
# CONFIG_KERNEL_I2C_COMPAT is not set
# CONFIG_KERNEL_KALLSYMS is not set
# CONFIG_KERNEL_MAGIC_SYSRQ is not set
CONFIG_KERNEL_MEMCG_KMEM=y
CONFIG_KERNEL_MEMCG=y
# CONFIG_KERNEL_NET_IPGRE_BROADCAST is not set
CONFIG_KERNEL_RESOURCE_COUNTERS=y
CONFIG_KERNEL_RT_GROUP_SCHED=y
CONFIG_KERNEL_SKB_FIXED_SIZE_2K=y
# CONFIG_KERNEL_SKB_RECYCLER is not set
# CONFIG_KERNEL_SKB_RECYCLER_MULTI_CPU is not set
# CONFIG_KERNEL_STRICT_KERNEL_RWX is not set
# CONFIG_KERNEL_STRICT_MODULE_RWX is not set
# CONFIG_KERNEL_SWAP is not set
CONFIG_KERNEL_USER_NS=y
# CONFIG_LIBC_USE_UCLIBC is not set
CONFIG_LOCALMIRROR="https://www.codeaurora.org/mirrored_source/quic/qsdk/"
CONFIG_LOWMEM_FLASH=y
# CONFIG_LXC_BUSYBOX_OPTIONS is not set
# CONFIG_LXC_KERNEL_OPTIONS is not set
CONFIG_PACKAGE_bluetopia-mini=m
CONFIG_PACKAGE_bridge=m
CONFIG_PACKAGE_coremark=m
CONFIG_PACKAGE_ethtool=m
CONFIG_PACKAGE_ftm=m
CONFIG_PACKAGE_gdb=m
CONFIG_PACKAGE_hyfi-map=m
CONFIG_PACKAGE_hyfi-son=m
CONFIG_PACKAGE_iperf=m
# CONFIG_PACKAGE_iwinfo is not set
CONFIG_PACKAGE_kmod-macvlan=m
CONFIG_PACKAGE_lldpd=m
# CONFIG_PACKAGE_mtd is not set
# CONFIG_PACKAGE_opkg is not set
CONFIG_PACKAGE_QCA_ATH_DEBUG=y
CONFIG_PACKAGE_qca-ezmesh-agent=m
CONFIG_PACKAGE_qca-ezmesh-ctrl=m
CONFIG_PACKAGE_qca-ezmesh-init=m
CONFIG_PACKAGE_qca-ezmesh=m
CONFIG_PACKAGE_qca-hyd-map=m
CONFIG_PACKAGE_qca-qrtr=m
CONFIG_PACKAGE_qca-ssdk-shell=m
CONFIG_PACKAGE_qca-wifi-fw-hw4-10.4-asic=m
CONFIG_PACKAGE_qcrpg-btipq-test=m
CONFIG_PACKAGE_samba36-server=m
CONFIG_PACKAGE_sysstat=m
CONFIG_PACKAGE_tcpdump=m
# CONFIG_PACKAGE_uboot-envtools is not set
CONFIG_PACKAGE_whc-map=m
CONFIG_PACKAGE_whc-son=m
# CONFIG_PKG_CC_STACKPROTECTOR_NONE is not set
CONFIG_PKG_CC_STACKPROTECTOR_REGULAR=y
CONFIG_PKG_FORTIFY_SOURCE_2=y
# CONFIG_PKG_FORTIFY_SOURCE_NONE is not set
CONFIG_PKG_RELRO_FULL=y
# CONFIG_QCA_MINIDUMP is not set
# CONFIG_shadow-all is not set
# CONFIG_SIGNED_PACKAGES is not set
# CONFIG_SUPPORT_WIFISON_EXT_LIB is not set
CONFIG_TARGET_INITRAMFS_COMPRESSION_LZMA=y
CONFIG_TARGET_ROOTFS_INITRAMFS=y
# CONFIG_TARGET_ROOTFS_TARGZ is not set
# CONFIG_TARGET_ROOTFS_UBIFS is not set
CONFIG_TOOLCHAINOPTS=y
# CONFIG_USB_GADGET_SUPPORT is not set
CONFIG_WIFI_TARGET_WIFI_2_0=n
CONFIG_WPA_MSG_MIN_PRIORITY=0
