CONFIG_TARGET_ipq807x=y
CONFIG_TARGET_ipq807x_generic=y
CONFIG_TARGET_ipq807x_generic_Default=y
CONFIG_TARGET_BOARD="ipq807x"
CONFIG_DEVEL=y
CONFIG_BUSYBOX_CONFIG_BLKID=y
CONFIG_BUSYBOX_CONFIG_CTTYHACK=y
CONFIG_BUSYBOX_CONFIG_DEFAULT_DEPMOD_FILE=""
CONFIG_BUSYBOX_CONFIG_DEFAULT_MODULES_DIR="/lib/modules"
CONFIG_BUSYBOX_CONFIG_FEATURE_USE_INITTAB=y
CONFIG_BUSYBOX_CONFIG_INIT_TERMINAL_TYPE=""
CONFIG_BUSYBOX_CONFIG_INIT=y
CONFIG_BUSYBOX_CONFIG_MODPROBE_SMALL=y
CONFIG_BUSYBOX_CONFIG_VOLUMEID=y
CONFIG_BUSYBOX_CONFIG_WATCHDOG=y
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_COLLECT_KERNEL_DEBUG=y
CONFIG_GIT_MIRROR="https://source.codeaurora.org/quic/qsdk/"
# CONFIG_IPV6 is not set
CONFIG_KERNEL_CC_OPTIMIZE_FOR_SIZE=y
# CONFIG_KERNEL_CC_STACKPROTECTOR_NONE is not set
CONFIG_KERNEL_CC_STACKPROTECTOR_STRONG=y
# CONFIG_KERNEL_CRASH_DUMP is not set
# CONFIG_KERNEL_SWAP is not set
# CONFIG_LIBC_USE_UCLIBC is not set
CONFIG_LOCALMIRROR="https://www.codeaurora.org/mirrored_source/quic/qsdk/"
# CONFIG_PACKAGE_base-files is not set
# CONFIG_PACKAGE_dnsmasq is not set
# CONFIG_PACKAGE_dropbear is not set
# CONFIG_PACKAGE_firewall is not set
# CONFIG_PACKAGE_fstools is not set
# CONFIG_PACKAGE_iptables is not set
# CONFIG_PACKAGE_jshn is not set
# CONFIG_PACKAGE_jsonfilter is not set
# CONFIG_PACKAGE_kmod-ata-core is not set
# CONFIG_PACKAGE_kmod-button-hotplug is not set
# CONFIG_PACKAGE_kmod-gpio-button-hotplug is not set
# CONFIG_PACKAGE_kmod-input-core is not set
# CONFIG_PACKAGE_kmod-ipt-conntrack is not set
# CONFIG_PACKAGE_kmod-ipt-core is not set
# CONFIG_PACKAGE_kmod-ipt-nat is not set
# CONFIG_PACKAGE_kmod-lib-crc-ccitt is not set
# CONFIG_PACKAGE_kmod-nf-conntrack is not set
# CONFIG_PACKAGE_kmod-nf-ipt is not set
# CONFIG_PACKAGE_kmod-nf-nathelper is not set
# CONFIG_PACKAGE_kmod-nf-nat is not set
# CONFIG_PACKAGE_kmod-ppp is not set
# CONFIG_PACKAGE_libip4tc is not set
# CONFIG_PACKAGE_libip6tc is not set
# CONFIG_PACKAGE_libjson-script is not set
# CONFIG_PACKAGE_libnl-tiny is not set
# CONFIG_PACKAGE_libxtables is not set
# CONFIG_PACKAGE_lk-ipq40xx is not set
# CONFIG_PACKAGE_lk-ipq806x is not set
# CONFIG_PACKAGE_netifd is not set
# CONFIG_PACKAGE_ppp is not set
# CONFIG_PACKAGE_procd is not set
# CONFIG_PACKAGE_procd-nand is not set
# CONFIG_PACKAGE_swconfig is not set
CONFIG_PACKAGE_sysstat=y
# CONFIG_PACKAGE_uboot-envtools is not set
# CONFIG_PACKAGE_uboot-ipq40xx is not set
# CONFIG_PACKAGE_uboot-ipq806x-fwupgrade-tools is not set
# CONFIG_PACKAGE_uboot-ipq806x is not set
CONFIG_PACKAGE_udev=y
# CONFIG_PACKAGE_usign is not set
# CONFIG_PKG_CC_STACKPROTECTOR_NONE is not set
# CONFIG_PKG_CC_STACKPROTECTOR_REGULAR is not set
CONFIG_PKG_CC_STACKPROTECTOR_STRONG=y
# CONFIG_SIGNED_PACKAGES is not set
CONFIG_TARGET_INITRAMFS_COMPRESSION_NONE=y
CONFIG_TARGET_ROOTFS_INITRAMFS=y
# CONFIG_TARGET_ROOTFS_UBIFS is not set
# CONFIG_TARGET_UBIFS_COMPRESSION_LZO is not set
# CONFIG_TARGET_UBIFS_COMPRESSION_NONE is not set
# CONFIG_TARGET_UBIFS_COMPRESSION_ZLIB is not set
CONFIG_TOOLCHAINOPTS=y
