CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_Default=y
# CONFIG_TARGET_BOARD is not set
CONFIG_DEVEL=y
CONFIG_BUSYBOX_CONFIG_NSLOOKUP=y
CONFIG_BUSYBOX_CUSTOM=y
# CONFIG_ENABLE_SON_CLI is not set
CONFIG_HYD_SUPPORT_CFG80211=y
CONFIG_HYD_SUPPORT_VHT160=y
CONFIG_IFACE_SUPPORT_CFG80211=y
# CONFIG_KERNEL_BLK_DEV_RAM is not set
CONFIG_LBD_SUPPORT_CFG80211=y
CONFIG_LBD_SUPPORT_QSDK=y
CONFIG_LBD_SUPPORT_VHT160=y
CONFIG_LIBCFG80211_SUPPORT=y
CONFIG_LLDPD_WITH_CDP=y
CONFIG_LLDPD_WITH_CUSTOM=y
CONFIG_LLDPD_WITH_DOT1=y
CONFIG_LLDPD_WITH_DOT3=y
CONFIG_LLDPD_WITH_EDP=y
CONFIG_LLDPD_WITH_FDP=y
CONFIG_LLDPD_WITH_LLDPMED=y
CONFIG_LLDPD_WITH_PRIVSEP=y
CONFIG_LLDPD_WITH_SONMP=y
CONFIG_OPENSSL_WITH_DEPRECATED=y
CONFIG_OPENSSL_WITH_EC=y
CONFIG_OPENSSL_WITH_PSK=y
CONFIG_OPENSSL_WITH_SRP=y
CONFIG_PACKAGE_fuse-utils=y
CONFIG_PACKAGE_glib2=y
CONFIG_PACKAGE_iperf-mt=y
CONFIG_PACKAGE_ip-full=y
CONFIG_PACKAGE_iptables-mod-extra=m
CONFIG_PACKAGE_iw=y
CONFIG_PACKAGE_kmod-bonding=y
CONFIG_PACKAGE_kmod-bridge=y
CONFIG_PACKAGE_kmod-cfg80211-linux=y
CONFIG_PACKAGE_kmod-crypto-core=y
CONFIG_PACKAGE_kmod-fs-configfs=y
CONFIG_PACKAGE_kmod-fuse=y
CONFIG_PACKAGE_kmod-gre=m
CONFIG_PACKAGE_kmod-ip6-tunnel=y
CONFIG_PACKAGE_kmod-ipt-extra=m
CONFIG_PACKAGE_kmod-iptunnel6=y
CONFIG_PACKAGE_kmod-iptunnel=y
CONFIG_PACKAGE_kmod-ledtrig-usbdev=y
CONFIG_PACKAGE_kmod-llc=y
CONFIG_PACKAGE_kmod-nls-base=y
CONFIG_PACKAGE_kmod-qca-wifi-unified-profile=y
CONFIG_PACKAGE_kmod-stp=y
CONFIG_PACKAGE_kmod-udptunnel4=y
CONFIG_PACKAGE_kmod-udptunnel6=y
CONFIG_PACKAGE_kmod-usb-configfs=y
CONFIG_PACKAGE_kmod-usb-core=y
CONFIG_PACKAGE_kmod-usb-dwc3-of-simple=y
CONFIG_PACKAGE_kmod-usb-dwc3=y
CONFIG_PACKAGE_kmod-veth=y
CONFIG_PACKAGE_kmod-vxlan=y
CONFIG_PACKAGE_libattr=y
CONFIG_PACKAGE_libevent2=y
CONFIG_PACKAGE_libffi=y
CONFIG_PACKAGE_libfuse=y
CONFIG_PACKAGE_libnl=y
CONFIG_PACKAGE_libopenssl=y
CONFIG_PACKAGE_libpam=y
CONFIG_PACKAGE_libpcap=y
CONFIG_PACKAGE_libpthread=y
CONFIG_PACKAGE_librt=y
CONFIG_PACKAGE_libxml2=y
CONFIG_PACKAGE_lldpd=y
# CONFIG_PACKAGE_odhcp6c is not set
# CONFIG_PACKAGE_odhcpd is not set
CONFIG_PACKAGE_qca-cfg80211=y
CONFIG_PACKAGE_qca-hostapd-cli=y
CONFIG_PACKAGE_qca-hostap=y
# CONFIG_PACKAGE_qca-son-cli is not set
CONFIG_PACKAGE_qca-spectral=y
CONFIG_PACKAGE_qca-wifi-fw-hw11-10.4-asic=y
CONFIG_PACKAGE_qca-wifi-fw-hw2-10.4-asic=y
CONFIG_PACKAGE_qca-wifi-fw-hw3-10.4-asic=y
CONFIG_PACKAGE_qca-wifi-fw-hw4-10.4-asic=y
CONFIG_PACKAGE_qca-wifi-fw-hw5-10.4-asic=y
CONFIG_PACKAGE_qca-wifi-fw-hw6-10.4-asic=y
CONFIG_PACKAGE_qca-wifi-hk-fw-hw1-10.4-asic=y
CONFIG_PACKAGE_qca-wpa-cli=y
CONFIG_PACKAGE_qca-wpa-supplicant=y
CONFIG_PACKAGE_rng-tools=y
CONFIG_PACKAGE_socat=y
CONFIG_PACKAGE_sshfs=y
CONFIG_PACKAGE_tcpdump=y
CONFIG_PACKAGE_uclibcxx=y
CONFIG_PACKAGE_wireless-tools=y
CONFIG_PACKAGE_zlib=y
CONFIG_PLC_SUPPORT_CFG80211=y
CONFIG_STRIP_ARGS="--strip-all"
CONFIG_TARGET_INITRAMFS_COMPRESSION_NONE=y
# CONFIG_TARGET_ROOTFS_EXT4FS is not set
CONFIG_TARGET_ROOTFS_INITRAMFS=y
# CONFIG_TARGET_ROOTFS_SQUASHFS is not set
# CONFIG_TARGET_ROOTFS_TARGZ is not set
# CONFIG_USE_SSTRIP is not set
CONFIG_USE_STRIP=y
CONFIG_WIFISON_SUPPORT_QSDK=y
CONFIG_WSPLCD_SUPPORT_CFG80211=y
