CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_Generic=y
CONFIG_DEVEL=y
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_BUSYBOX_CONFIG_NSLOOKUP=y
# CONFIG_DEFAULT_kmod-button-hotplug is not set
# CONFIG_DEFAULT_kmod-r8169 is not set
CONFIG_ENABLE_SON_CLI=y
CONFIG_HYD_SUPPORT_CFG80211=y
CONFIG_HYD_SUPPORT_VHT160=y
CONFIG_IFACE_SUPPORT_CFG80211=y
CONFIG_LBD_SUPPORT_CFG80211=y
CONFIG_LBD_SUPPORT_QSDK=y
CONFIG_LBD_SUPPORT_VHT160=y
CONFIG_LIBCFG80211_SUPPORT=y
CONFIG_LLDPD_WITH_CDP=y
CONFIG_LLDPD_WITH_CUSTOM=y
CONFIG_LLDPD_WITH_DOT1=y
CONFIG_LLDPD_WITH_DOT3=y
CONFIG_LLDPD_WITH_EDP=y
CONFIG_LLDPD_WITH_FDP=y
CONFIG_LLDPD_WITH_LLDPMED=y
CONFIG_LLDPD_WITH_PRIVSEP=y
CONFIG_LLDPD_WITH_SONMP=y
CONFIG_NO_STRIP=y
CONFIG_OPENSSL_ENGINE=y
CONFIG_OPENSSL_OPTIMIZE_SPEED=y
CONFIG_OPENSSL_WITH_ASM=y
CONFIG_OPENSSL_WITH_CHACHA_POLY1305=y
CONFIG_OPENSSL_WITH_CMS=y
CONFIG_OPENSSL_WITH_DEPRECATED=y
CONFIG_OPENSSL_WITH_ERROR_MESSAGES=y
CONFIG_OPENSSL_WITH_PSK=y
CONFIG_OPENSSL_WITH_SRP=y
CONFIG_OPENSSL_WITH_TLS13=y
CONFIG_PACKAGE_ethtool=y
CONFIG_PACKAGE_fuse-utils=y
CONFIG_PACKAGE_glib2=y
CONFIG_PACKAGE_iperf3=y
CONFIG_PACKAGE_ip-full=y
CONFIG_PACKAGE_iptables-mod-extra=m
CONFIG_PACKAGE_iw=y
CONFIG_PACKAGE_kmod-bonding=y
CONFIG_PACKAGE_kmod-bridge=y
# CONFIG_PACKAGE_kmod-button-hotplug is not set
CONFIG_PACKAGE_kmod-cfg80211-linux=y
CONFIG_PACKAGE_kmod-fs-configfs=y
CONFIG_PACKAGE_kmod-fuse=y
CONFIG_PACKAGE_kmod-gre=m
CONFIG_PACKAGE_kmod-input-core=y
CONFIG_PACKAGE_kmod-ip6-tunnel=y
CONFIG_PACKAGE_kmod-ipt-extra=m
CONFIG_PACKAGE_kmod-iptunnel6=y
CONFIG_PACKAGE_kmod-iptunnel=y
# CONFIG_PACKAGE_kmod-mii is not set
CONFIG_PACKAGE_kmod-nls-base=y
CONFIG_PACKAGE_kmod-qca-wifi-unified-profile=y
# CONFIG_PACKAGE_kmod-r8169 is not set
CONFIG_PACKAGE_kmod-udptunnel4=y
CONFIG_PACKAGE_kmod-udptunnel6=y
CONFIG_PACKAGE_kmod-usb-configfs=y
CONFIG_PACKAGE_kmod-usb-core=y
CONFIG_PACKAGE_kmod-usb-dwc3=y
CONFIG_PACKAGE_kmod-veth=y
CONFIG_PACKAGE_kmod-vxlan=y
CONFIG_PACKAGE_libattr=y
CONFIG_PACKAGE_libcap=y
CONFIG_PACKAGE_libelf=y
CONFIG_PACKAGE_libevent2=y
CONFIG_PACKAGE_libffi=y
CONFIG_PACKAGE_libfuse=y
CONFIG_PACKAGE_libhyficommon=y
CONFIG_PACKAGE_libnl-core=y
CONFIG_PACKAGE_libnl-genl=y
CONFIG_PACKAGE_libnl-nf=y
CONFIG_PACKAGE_libnl-route=y
CONFIG_PACKAGE_libnl=y
CONFIG_PACKAGE_libopenssl=y
CONFIG_PACKAGE_libpam=y
CONFIG_PACKAGE_libroxml=y
CONFIG_PACKAGE_libxml2=y
CONFIG_PACKAGE_lldpd=y
CONFIG_PACKAGE_openssh-client-utils=y
CONFIG_PACKAGE_openssh-client=y
CONFIG_PACKAGE_openssh-keygen=y
CONFIG_PACKAGE_openssh-server=y
CONFIG_PACKAGE_openssh-sftp-client=y
CONFIG_PACKAGE_openssh-sftp-server=y
CONFIG_PACKAGE_qca-cfg80211=y
CONFIG_PACKAGE_qca-hostapd-cli=y
CONFIG_PACKAGE_qca-hostap=y
CONFIG_PACKAGE_qca-son-cli=y
CONFIG_PACKAGE_qca-spectral=y
CONFIG_PACKAGE_qca-wifi-fw-hw4-10.4-asic=y
CONFIG_PACKAGE_qca-wifi-hk-fw-hw1-10.4-asic=y
CONFIG_PACKAGE_qca-wpa-cli=y
CONFIG_PACKAGE_qca-wpa-supplicant=y
# CONFIG_PACKAGE_r8169-firmware is not set
CONFIG_PACKAGE_socat=y
CONFIG_PACKAGE_sshfs=y
CONFIG_PACKAGE_sshtunnel=y
CONFIG_PACKAGE_tcpdump=y
CONFIG_PACKAGE_uclibcxx=y
CONFIG_PACKAGE_wireless-tools=y
CONFIG_PACKAGE_zlib=y
CONFIG_PLC_SUPPORT_CFG80211=y
CONFIG_TARGET_INITRAMFS_COMPRESSION_NONE=y
# CONFIG_TARGET_ROOTFS_EXT4FS is not set
CONFIG_TARGET_ROOTFS_INITRAMFS=y
CONFIG_TARGET_ROOTFS_PARTSIZE=128
# CONFIG_USE_SSTRIP is not set
CONFIG_WIFISON_SUPPORT_QSDK=y
CONFIG_WSPLCD_SUPPORT_CFG80211=y
